# Mount gdrive.

In [ ]:
# This mounts your Google Drive to the Colab VM.
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

# Enter the foldername in your Drive.
FOLDERNAME = 'readmission'
assert FOLDERNAME is not None, "[!] Enter the foldername."

# Change directory.
import sys
sys.path.append('/content/drive/My Drive/{}'.format(FOLDERNAME))
%cd drive/My\ Drive/$FOLDERNAME/

Mounted at /content/drive
/content/drive/My Drive/readmission

# Environment setup

In [ ]:
### Import packages.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
import csv
import os
import tensorflow
import keras

In [ ]:
### Set up working directory.
os.chdir('/content/drive/MyDrive/readmission')
os.getcwd()

'/content/drive/MyDrive/readmission'

# (RUN ONCE) Get MIMIC-IV data.

In [ ]:
### Download zipped MIMIC-III data.
!wget -r -N -c -np --user kshi --ask-password https://physionet.org/files/mimiciv/1.0/

Password for user ‘kshi’:
--2021-06-20 18:06:09--  https://physionet.org/files/mimiciv/1.0/
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="PhysioNet", charset="UTF-8"
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘physionet.org/files/mimiciv/1.0/index.html’

physionet.org/files     [ <=>                ]     797  --.-KB/s    in 0s

Last-modified header missing -- time-stamps turned off.
2021-06-20 18:06:09 (41.4 MB/s) - ‘physionet.org/files/mimiciv/1.0/index.html’ saved [797]

Loading robots.txt; please ignore errors.
--2021-06-20 18:06:09--  https://physionet.org/robots.txt
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 22 [text/plain]
Saving to: ‘physionet.org/robots.txt’

physionet.org/robot 100%[===================>]      22  --.-KB/s    in 0s

2021-06-20 18:06:09 (939 KB/s) - ‘physionet.org/robots.txt’ saved [22/22]

--2021-06-20 18:06:09--  https://physionet.org/files/mimiciv/1.0/core/
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘physionet.org/files/mimiciv/1.0/core/index.html’

physionet.org/files     [ <=>                ]     606  --.-KB/s    in 0s

Last-modified header missing -- time-stamps turned off.
2021-06-20 18:06:09 (32.0 MB/s) - ‘physionet.org/files/mimiciv/1.0/core/index.html’ saved [606]

--2021-06-20 18:06:09--  https://physionet.org/files/mimiciv/1.0/hosp/
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/index.html’

physionet.org/files     [ <=>                ]   2.27K  --.-KB/s    in 0s

Last-modified header missing -- time-stamps turned off.
2021-06-20 18:06:09 (117 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/index.html’ saved [2325]

--2021-06-20 18:06:09--  https://physionet.org/files/mimiciv/1.0/icu/
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘physionet.org/files/mimiciv/1.0/icu/index.html’

physionet.org/files     [ <=>                ]   1.08K  --.-KB/s    in 0s

Last-modified header missing -- time-stamps turned off.
2021-06-20 18:06:09 (51.4 MB/s) - ‘physionet.org/files/mimiciv/1.0/icu/index.html’ saved [1103]

--2021-06-20 18:06:09--  https://physionet.org/files/mimiciv/1.0/LICENSE.txt
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 2518 (2.5K) [text/plain]
Saving to: ‘physionet.org/files/mimiciv/1.0/LICENSE.txt’

physionet.org/files 100%[===================>]   2.46K  --.-KB/s    in 0s

2021-06-20 18:06:10 (124 MB/s) - ‘physionet.org/files/mimiciv/1.0/LICENSE.txt’ saved [2518/2518]

--2021-06-20 18:06:10--  https://physionet.org/files/mimiciv/1.0/SHA256SUMS.txt
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 2459 (2.4K) [text/plain]
Saving to: ‘physionet.org/files/mimiciv/1.0/SHA256SUMS.txt’

physionet.org/files 100%[===================>]   2.40K  --.-KB/s    in 0s

2021-06-20 18:06:10 (165 MB/s) - ‘physionet.org/files/mimiciv/1.0/SHA256SUMS.txt’ saved [2459/2459]

--2021-06-20 18:06:10--  https://physionet.org/files/mimiciv/1.0/core/admissions.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 17208966 (16M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/core/admissions.csv.gz’

physionet.org/files 100%[===================>]  16.41M  31.0MB/s    in 0.5s

2021-06-20 18:06:10 (31.0 MB/s) - ‘physionet.org/files/mimiciv/1.0/core/admissions.csv.gz’ saved [17208966/17208966]

--2021-06-20 18:06:10--  https://physionet.org/files/mimiciv/1.0/core/patients.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 2955582 (2.8M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/core/patients.csv.gz’

physionet.org/files 100%[===================>]   2.82M  --.-KB/s    in 0.06s

2021-06-20 18:06:10 (44.3 MB/s) - ‘physionet.org/files/mimiciv/1.0/core/patients.csv.gz’ saved [2955582/2955582]

--2021-06-20 18:06:10--  https://physionet.org/files/mimiciv/1.0/core/transfers.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 53014503 (51M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/core/transfers.csv.gz’

physionet.org/files 100%[===================>]  50.56M  43.1MB/s    in 1.2s

2021-06-20 18:06:12 (43.1 MB/s) - ‘physionet.org/files/mimiciv/1.0/core/transfers.csv.gz’ saved [53014503/53014503]

--2021-06-20 18:06:12--  https://physionet.org/files/mimiciv/1.0/hosp/d_hcpcs.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 430049 (420K) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/d_hcpcs.csv.gz’

physionet.org/files 100%[===================>] 419.97K  --.-KB/s    in 0.007s

2021-06-20 18:06:12 (57.2 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/d_hcpcs.csv.gz’ saved [430049/430049]

--2021-06-20 18:06:12--  https://physionet.org/files/mimiciv/1.0/hosp/d_icd_diagnoses.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 863239 (843K) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/d_icd_diagnoses.csv.gz’

physionet.org/files 100%[===================>] 843.01K  --.-KB/s    in 0.02s

2021-06-20 18:06:12 (44.7 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/d_icd_diagnoses.csv.gz’ saved [863239/863239]

--2021-06-20 18:06:12--  https://physionet.org/files/mimiciv/1.0/hosp/d_icd_procedures.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 579998 (566K) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/d_icd_procedures.csv.gz’

physionet.org/files 100%[===================>] 566.40K  --.-KB/s    in 0.01s

2021-06-20 18:06:12 (56.7 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/d_icd_procedures.csv.gz’ saved [579998/579998]

--2021-06-20 18:06:12--  https://physionet.org/files/mimiciv/1.0/hosp/d_labitems.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 14898 (15K) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/d_labitems.csv.gz’

physionet.org/files 100%[===================>]  14.55K  --.-KB/s    in 0.001s

2021-06-20 18:06:12 (18.8 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/d_labitems.csv.gz’ saved [14898/14898]

--2021-06-20 18:06:12--  https://physionet.org/files/mimiciv/1.0/hosp/diagnoses_icd.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 29531152 (28M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/diagnoses_icd.csv.gz’

physionet.org/files 100%[===================>]  28.16M  41.6MB/s    in 0.7s

2021-06-20 18:06:13 (41.6 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/diagnoses_icd.csv.gz’ saved [29531152/29531152]

--2021-06-20 18:06:13--  https://physionet.org/files/mimiciv/1.0/hosp/drgcodes.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 11684062 (11M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/drgcodes.csv.gz’

physionet.org/files 100%[===================>]  11.14M  39.3MB/s    in 0.3s

2021-06-20 18:06:13 (39.3 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/drgcodes.csv.gz’ saved [11684062/11684062]

--2021-06-20 18:06:13--  https://physionet.org/files/mimiciv/1.0/hosp/emar.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 515763427 (492M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/emar.csv.gz’

physionet.org/files 100%[===================>] 491.87M  24.7MB/s    in 17s

2021-06-20 18:06:30 (29.2 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/emar.csv.gz’ saved [515763427/515763427]

--2021-06-20 18:06:30--  https://physionet.org/files/mimiciv/1.0/hosp/emar_detail.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 476252563 (454M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/emar_detail.csv.gz’

physionet.org/files 100%[===================>] 454.19M  27.8MB/s    in 18s

2021-06-20 18:06:48 (24.9 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/emar_detail.csv.gz’ saved [476252563/476252563]

--2021-06-20 18:06:48--  https://physionet.org/files/mimiciv/1.0/hosp/hcpcsevents.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 2098831 (2.0M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/hcpcsevents.csv.gz’

physionet.org/files 100%[===================>]   2.00M  --.-KB/s    in 0.05s

2021-06-20 18:06:48 (38.5 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/hcpcsevents.csv.gz’ saved [2098831/2098831]

--2021-06-20 18:06:48--  https://physionet.org/files/mimiciv/1.0/hosp/labevents.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 2091865786 (1.9G) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/labevents.csv.gz’

physionet.org/files 100%[===================>]   1.95G  34.0MB/s    in 57s

2021-06-20 18:07:45 (35.1 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/labevents.csv.gz’ saved [2091865786/2091865786]

--2021-06-20 18:07:45--  https://physionet.org/files/mimiciv/1.0/hosp/microbiologyevents.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 99133381 (95M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/microbiologyevents.csv.gz’

physionet.org/files 100%[===================>]  94.54M  36.8MB/s    in 2.6s

2021-06-20 18:07:48 (36.8 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/microbiologyevents.csv.gz’ saved [99133381/99133381]

--2021-06-20 18:07:48--  https://physionet.org/files/mimiciv/1.0/hosp/pharmacy.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 422874088 (403M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/pharmacy.csv.gz’

physionet.org/files 100%[===================>] 403.28M  27.2MB/s    in 14s

2021-06-20 18:08:02 (29.5 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/pharmacy.csv.gz’ saved [422874088/422874088]

--2021-06-20 18:08:02--  https://physionet.org/files/mimiciv/1.0/hosp/poe.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 501381155 (478M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/poe.csv.gz’

physionet.org/files 100%[===================>] 478.15M  30.6MB/s    in 24s

2021-06-20 18:08:25 (20.3 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/poe.csv.gz’ saved [501381155/501381155]

--2021-06-20 18:08:25--  https://physionet.org/files/mimiciv/1.0/hosp/poe_detail.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 24020923 (23M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/poe_detail.csv.gz’

physionet.org/files 100%[===================>]  22.91M  37.2MB/s    in 0.6s

2021-06-20 18:08:26 (37.2 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/poe_detail.csv.gz’ saved [24020923/24020923]

--2021-06-20 18:08:26--  https://physionet.org/files/mimiciv/1.0/hosp/prescriptions.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 367041717 (350M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/prescriptions.csv.gz’

physionet.org/files 100%[===================>] 350.04M  33.7MB/s    in 9.9s

2021-06-20 18:08:36 (35.4 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/prescriptions.csv.gz’ saved [367041717/367041717]

--2021-06-20 18:08:36--  https://physionet.org/files/mimiciv/1.0/hosp/procedures_icd.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 7750325 (7.4M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/procedures_icd.csv.gz’

physionet.org/files 100%[===================>]   7.39M  36.4MB/s    in 0.2s

2021-06-20 18:08:36 (36.4 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/procedures_icd.csv.gz’ saved [7750325/7750325]

--2021-06-20 18:08:36--  https://physionet.org/files/mimiciv/1.0/hosp/services.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 9565293 (9.1M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/hosp/services.csv.gz’

physionet.org/files 100%[===================>]   9.12M  41.2MB/s    in 0.2s

2021-06-20 18:08:37 (41.2 MB/s) - ‘physionet.org/files/mimiciv/1.0/hosp/services.csv.gz’ saved [9565293/9565293]

--2021-06-20 18:08:37--  https://physionet.org/files/mimiciv/1.0/icu/chartevents.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 2350783547 (2.2G) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/icu/chartevents.csv.gz’

physionet.org/files 100%[===================>]   2.19G  39.8MB/s    in 59s

2021-06-20 18:09:35 (38.3 MB/s) - ‘physionet.org/files/mimiciv/1.0/icu/chartevents.csv.gz’ saved [2350783547/2350783547]

--2021-06-20 18:09:35--  https://physionet.org/files/mimiciv/1.0/icu/d_items.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 55917 (55K) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/icu/d_items.csv.gz’

physionet.org/files 100%[===================>]  54.61K  --.-KB/s    in 0.002s

2021-06-20 18:09:35 (26.8 MB/s) - ‘physionet.org/files/mimiciv/1.0/icu/d_items.csv.gz’ saved [55917/55917]

--2021-06-20 18:09:35--  https://physionet.org/files/mimiciv/1.0/icu/datetimeevents.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 43296273 (41M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/icu/datetimeevents.csv.gz’

physionet.org/files 100%[===================>]  41.29M  44.0MB/s    in 0.9s

2021-06-20 18:09:36 (44.0 MB/s) - ‘physionet.org/files/mimiciv/1.0/icu/datetimeevents.csv.gz’ saved [43296273/43296273]

--2021-06-20 18:09:36--  https://physionet.org/files/mimiciv/1.0/icu/icustays.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 2848628 (2.7M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/icu/icustays.csv.gz’

physionet.org/files 100%[===================>]   2.72M  --.-KB/s    in 0.07s

2021-06-20 18:09:36 (38.8 MB/s) - ‘physionet.org/files/mimiciv/1.0/icu/icustays.csv.gz’ saved [2848628/2848628]

--2021-06-20 18:09:36--  https://physionet.org/files/mimiciv/1.0/icu/inputevents.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 352443512 (336M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/icu/inputevents.csv.gz’

physionet.org/files 100%[===================>] 336.12M  39.2MB/s    in 8.6s

2021-06-20 18:09:45 (39.1 MB/s) - ‘physionet.org/files/mimiciv/1.0/icu/inputevents.csv.gz’ saved [352443512/352443512]

--2021-06-20 18:09:45--  https://physionet.org/files/mimiciv/1.0/icu/outputevents.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 37095672 (35M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/icu/outputevents.csv.gz’

physionet.org/files 100%[===================>]  35.38M  29.3MB/s    in 1.2s

2021-06-20 18:09:46 (29.3 MB/s) - ‘physionet.org/files/mimiciv/1.0/icu/outputevents.csv.gz’ saved [37095672/37095672]

--2021-06-20 18:09:46--  https://physionet.org/files/mimiciv/1.0/icu/procedureevents.csv.gz
Reusing existing connection to physionet.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 20567368 (20M) [application/gzip]
Saving to: ‘physionet.org/files/mimiciv/1.0/icu/procedureevents.csv.gz’

physionet.org/files 100%[===================>]  19.61M  32.5MB/s    in 0.6s

2021-06-20 18:09:47 (32.5 MB/s) - ‘physionet.org/files/mimiciv/1.0/icu/procedureevents.csv.gz’ saved [20567368/20567368]

FINISHED --2021-06-20 18:09:47--
Total wall clock time: 3m 42s
Downloaded: 34 files, 6.9G in 3m 35s (32.9 MB/s)

In [ ]:
### Unzip MIMIC-IV data. 
!mkdir -p mimic_database && gunzip *.gz

# Load files.

In [ ]:
admissions = pd.read_csv('admissions.csv', header = 0)
print(admissions.shape)
admissions.head()

(523740, 15)

   subject_id   hadm_id  ... edouttime hospital_expire_flag
0    14679932  21038362  ...       NaN                    0
1    15585972  24941086  ...       NaN                    0
2    11989120  21965160  ...       NaN                    0
3    17817079  24709883  ...       NaN                    0
4    15078341  23272159  ...       NaN                    0

[5 rows x 15 columns]

In [ ]:
admissions.value_counts('admission_location')

admission_location
EMERGENCY ROOM                            245744
PHYSICIAN REFERRAL                        127494
TRANSFER FROM HOSPITAL                     39121
WALK-IN/SELF REFERRAL                      16660
CLINIC REFERRAL                            10670
PROCEDURE SITE                              8449
PACU                                        6067
INTERNAL TRANSFER TO OR FROM PSYCH          4467
TRANSFER FROM SKILLED NURSING FACILITY      4063
INFORMATION NOT AVAILABLE                    379
AMBULATORY SURGERY TRANSFER                  191
dtype: int64

In [ ]:
admissions.value_counts('discharge_location')

discharge_location
HOME                            222173
HOME HEALTH CARE                 86026
SKILLED NURSING FACILITY         46207
REHAB                            11328
DIED                              9238
CHRONIC/LONG TERM ACUTE CARE      7591
HOSPICE                           3679
ACUTE HOSPITAL                    3499
AGAINST ADVICE                    2718
PSYCH FACILITY                    2417
OTHER FACILITY                    1455
ASSISTED LIVING                    584
HEALTHCARE FACILITY                168
dtype: int64

In [ ]:
d_hcpcs = pd.read_csv('d_hcpcs.csv', header = 0)
print(d_hcpcs.shape)
d_hcpcs.head()

(89200, 4)

    code  category           long_description          short_description
0  A1          NaN     Dressing for one wound     Dressing for one wound
1  A2          NaN    Dressing for two wounds    Dressing for two wounds
2  A3          NaN  Dressing for three wounds  Dressing for three wounds
3  A4          NaN   Dressing for four wounds   Dressing for four wounds
4  A5          NaN   Dressing for five wounds   Dressing for five wounds

In [ ]:
d_icd_diagnoses = pd.read_csv('d_icd_diagnoses.csv', header = 0)
print(d_icd_diagnoses.shape)
d_icd_diagnoses.head()

(109775, 3)

  icd_code  icd_version                             long_title
0     0010            9         Cholera due to vibrio cholerae
1     0011            9  Cholera due to vibrio cholerae el tor
2     0019            9                   Cholera, unspecified
3     0020            9                          Typhoid fever
4     0021            9                    Paratyphoid fever A

In [ ]:
d_icd_procedures = pd.read_csv('d_icd_procedures.csv', header = 0)
print(d_icd_procedures.shape)
d_icd_procedures.head()

(85257, 3)

  icd_code  icd_version                                         long_title
0     0001            9  Therapeutic ultrasound of vessels of head and ...
1     0002            9                    Therapeutic ultrasound of heart
2     0003            9  Therapeutic ultrasound of peripheral vascular ...
3     0009            9                       Other therapeutic ultrasound
4      001           10  Central Nervous System and Cranial Nerves, Bypass

In [ ]:
d_items = pd.read_csv('d_items.csv', header = 0)
print(d_items.shape)
d_items.head()

(3861, 9)

   itemid                    label  ... lownormalvalue highnormalvalue
0  220003       ICU Admission date  ...            NaN             NaN
1  220045               Heart Rate  ...            NaN             NaN
2  220046  Heart rate Alarm - High  ...            NaN             NaN
3  220047   Heart Rate Alarm - Low  ...            NaN             NaN
4  220048             Heart Rhythm  ...            NaN             NaN

[5 rows x 9 columns]

In [ ]:
d_labitems = pd.read_csv('d_labitems.csv', header = 0)
print(d_labitems.shape)
d_labitems.head()

(1630, 5)

   itemid                      label             fluid    category loinc_code
0   51905                             Other Body Fluid   Chemistry        NaN
1   51532     11-Deoxycorticosterone             Blood   Chemistry        NaN
2   51957  17-Hydroxycorticosteroids             Urine   Chemistry        NaN
3   51958     17-Ketosteroids, Urine             Urine   Chemistry        NaN
4   52068                      24 Hr             Blood  Hematology        NaN

In [ ]:
datetimeevents = pd.read_csv('datetimeevents.csv', header=0)
print(datetimeevents.shape)
datetimeevents.head()

(7495712, 9)

   subject_id   hadm_id   stay_id  ...                value       valueuom  warning
0    10003700  28623837  30600691  ...  2165-04-24 05:42:00           Date        0
1    10003700  28623837  30600691  ...  2165-04-24 00:00:00           Date        0
2    10004235  24181354  34100191  ...  2196-02-24 18:06:00           Date        0
3    10004235  24181354  34100191  ...  2196-02-24 18:06:00  Date and Time        0
4    10004235  24181354  34100191  ...  2196-02-24 18:06:00           Date        0

[5 rows x 9 columns]

In [ ]:
diagnoses_icd = pd.read_csv('diagnoses_icd.csv', header=0)
print(diagnoses_icd.shape)
diagnoses_icd.head()

(5280351, 5)

   subject_id   hadm_id  seq_num icd_code  icd_version
0    15734973  20475282        3     2825            9
1    15734973  20475282        2    V0251            9
2    15734973  20475282        5     V270            9
3    15734973  20475282        1    64891            9
4    15734973  20475282        4    66481            9

In [ ]:
drgcodes = pd.read_csv('drgcodes.csv', header=0)
print(drgcodes.shape)
drgcodes.head()

(769622, 7)

   subject_id   hadm_id  ... drg_severity  drg_mortality
0    15734973  20475282  ...          NaN            NaN
1    11442057  21518990  ...          NaN            NaN
2    10072949  20817034  ...          NaN            NaN
3    13538405  24822466  ...          NaN            NaN
4    10287061  27485182  ...          NaN            NaN

[5 rows x 7 columns]

In [ ]:
hcpcsevents = pd.read_csv('hcpcsevents.csv', header=0)
print(hcpcsevents.shape)
hcpcsevents.head()

(160727, 6)

   subject_id   hadm_id  ... seq_num              short_description
0    12350009  25467647  ...       1  Hospital observation services
1    14047846  22391731  ...       2  Hospital observation services
2    14047846  22391731  ...       1            Male genital system
3    12854593  21980916  ...       1           Integumentary system
4    12854593  21980916  ...       2           Integumentary system

[5 rows x 6 columns]

In [ ]:
icustays = pd.read_csv('icustays.csv', header=0)
print(icustays.shape)
icustays.head()

(76540, 8)

   subject_id   hadm_id  ...              outtime       los
0    17867402  24528534  ...  2154-03-04 18:16:56  1.587454
1    14435996  28960964  ...  2150-06-22 18:33:54  3.025625
2    17609946  27385897  ...  2138-02-15 12:42:05  9.741725
3    18966770  23483021  ...  2123-10-25 18:59:47  0.350544
4    12776735  20817525  ...  2200-07-13 16:44:40  1.674769

[5 rows x 8 columns]

In [ ]:
icustays.value_counts('last_careunit')

last_careunit
Medical Intensive Care Unit (MICU)                  17717
Medical/Surgical Intensive Care Unit (MICU/SICU)    13015
Cardiac Vascular Intensive Care Unit (CVICU)        11950
Surgical Intensive Care Unit (SICU)                 11615
Coronary Care Unit (CCU)                             8830
Trauma SICU (TSICU)                                  8690
Neuro Intermediate                                   2417
Neuro Stepdown                                       1226
Neuro Surgical Intensive Care Unit (Neuro SICU)      1080
dtype: int64

In [ ]:
inputevents = pd.read_csv('inputevents.csv', header=0)
print(inputevents.shape)
inputevents.head()

(9460658, 26)

   subject_id   hadm_id  ...  originalamount originalrate
0    12481680  26876606  ...           180.0        180.0
1    12481680  26876606  ...           240.0        240.0
2    12481680  26876606  ...           120.0        120.0
3    12481680  26876606  ...            60.0         60.0
4    15614172  27424463  ...           100.0        100.0

[5 rows x 26 columns]

In [ ]:
microbiologyevents = pd.read_csv('microbiologyevents.csv', header=0)
print(microbiologyevents.shape)
microbiologyevents.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(3397914, 24)

   microevent_id  subject_id  hadm_id  ...  dilution_value interpretation comments
0             97    10000473      NaN  ...             NaN            NaN      NaN
1            457    10001319      NaN  ...             NaN            NaN      NaN
2            634    10001757      NaN  ...             2.0              S      NaN
3            635    10001757      NaN  ...             4.0              S      NaN
4            636    10001757      NaN  ...             1.0              S      NaN

[5 rows x 24 columns]

In [ ]:
outputevents = pd.read_csv('outputevents.csv', header=0)
print(outputevents.shape)
outputevents.head()

(4457381, 8)

   subject_id   hadm_id   stay_id  ...  itemid  value  valueuom
0    10003700  28623837  30600691  ...  226559  300.0        ml
1    10004235  24181354  34100191  ...  226559  100.0        ml
2    10004235  24181354  34100191  ...  226559   45.0        ml
3    10004235  24181354  34100191  ...  226559   45.0        ml
4    10004235  24181354  34100191  ...  226559   45.0        ml

[5 rows x 8 columns]

In [ ]:
patients = pd.read_csv('patients.csv', header=0)
print(patients.shape)
patients.head()

(382278, 6)

   subject_id gender  anchor_age  anchor_year anchor_year_group  dod
0    10000048      F          23         2126       2008 - 2010  NaN
1    10002723      F           0         2128       2017 - 2019  NaN
2    10003939      M           0         2184       2008 - 2010  NaN
3    10004222      M           0         2161       2014 - 2016  NaN
4    10005325      F           0         2154       2011 - 2013  NaN

In [ ]:
### Limited RAM left on this (takes 8GB).
pharmacy = pd.read_csv('pharmacy.csv', header=0)
print(pharmacy.shape)
pharmacy.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,18,24,26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(14736386, 27)

   subject_id   hadm_id  ...              dispensation fill_quantity
0    17868682  22726960  ...  Distribution-Floor Stock           NaN
1    17868682  22726960  ...                  Omnicell           NaN
2    17868682  22726960  ...          Floor Stock Item           NaN
3    17868682  22726960  ...                  Omnicell           NaN
4    17868682  22726960  ...                  Omnicell           NaN

[5 rows x 27 columns]

In [ ]:
poe_detail = pd.read_csv('poe_detail.csv', header=0)
print(poe_detail.shape)
poe_detail.head()

(3256358, 5)

          poe_id  poe_seq  subject_id field_name       field_value
0   17741087-177      177    17741087   Admit to  ED - Observation
1  17385589-1252     1252    17385589   Admit to  ED - Observation
2   16865432-194      194    16865432   Admit to  ED - Observation
3   18948691-737      737    18948691   Admit to        MICU - Red
4   18600838-131      131    18600838   Admit to  ED - Observation

In [ ]:
prescriptions = pd.read_csv('prescriptions.csv', header=0)
print(prescriptions.shape)
prescriptions.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(17008053, 17)

   subject_id   hadm_id  pharmacy_id  ... form_unit_disp doses_per_24_hrs route
0    17868682  22726960     73313910  ...            TAB              1.0    PO
1    17868682  22726960     16239987  ...            TAB              1.0    PO
2    17868682  22726960     16634804  ...            TAB              1.0    PO
3    17868682  22726960      2697460  ...             mL              NaN    IV
4    17868682  22726960      1383959  ...           VIAL              NaN    IM

[5 rows x 17 columns]

In [ ]:
procedureevents = pd.read_csv('procedureevents.csv', header=0)
print(procedureevents.shape)
procedureevents.head()

(731247, 26)

   subject_id   hadm_id   stay_id  ... comments_date originalamount originalrate
0    15693895  21203492  30500789  ...           NaN            1.0            0
1    15693895  21203492  30500789  ...           NaN            1.0            0
2    12481680  26876606  30863119  ...           NaN          393.0            1
3    12481680  26876606  30863119  ...           NaN          393.0            1
4    15614172  27424463  33484414  ...           NaN         1872.0            1

[5 rows x 26 columns]

In [ ]:
procedures_icd = pd.read_csv('procedures_icd.csv', header=0)
print(procedures_icd.shape)
procedures_icd.head()

(779625, 6)

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10287061  27485182        1  2124-08-22     7569            9
1    13135573  22286210        3  2187-05-30     7309            9
2    13135573  22286210        1  2187-05-30     7569            9
3    13135573  22286210        2  2187-05-30      734            9
4    12646116  24154012        2  2115-01-13      734            9

In [ ]:
services = pd.read_csv('services.csv', header=0)
print(services.shape)
services.head()

(562892, 5)

   subject_id   hadm_id         transfertime prev_service curr_service
0    10417172  29884156  2163-12-09 01:23:24          NaN          MED
1    14299936  27900446  2182-02-13 21:45:00          NaN          MED
2    18848104  20140684  2124-05-24 00:03:32          NaN        TRAUM
3    19295127  26612830  2116-04-21 16:33:54          NaN          OBS
4    11327174  23934262  2159-01-26 17:31:32          NaN          MED

In [ ]:
transfers = pd.read_csv('transfers.csv', header=0)
print(transfers.shape)
transfers.head()

(2189535, 7)

   subject_id     hadm_id  ...               intime              outtime
0    14550633  24512724.0  ...  2176-10-10 01:58:40  2176-10-10 10:00:30
1    15216953  25759433.0  ...  2173-06-14 00:08:04  2173-06-14 13:35:19
2    15776555  28490372.0  ...  2187-02-01 00:09:41  2187-02-01 14:25:07
3    12248661  23426497.0  ...  2141-12-05 14:11:09                  NaN
4    14261068  20086032.0  ...  2144-09-13 14:14:50                  NaN

[5 rows x 7 columns]

In [ ]:
transfers.value_counts('eventtype')

eventtype
ED           661053
admit        523749
discharge    523740
transfer     480993
dtype: int64

In [ ]:
transfers.value_counts('careunit')

careunit
Emergency Department                                661053
Medicine                                            150908
Emergency Department Observation                     85815
Nursery - Well Babies                                67664
Med/Surg                                             49926
Medicine/Cardiology                                  46447
Neurology                                            41183
Hematology/Oncology                                  37522
Vascular                                             32965
Transplant                                           31529
Neonatal Intensive Care Unit (NICU)                  29363
Med/Surg/Trauma                                      28112
Med/Surg/GYN                                         27993
PACU                                                 26459
Labor & Delivery                                     24038
Medical Intensive Care Unit (MICU)                   22314
Surgery/Trauma                                       20667
Cardiac Surgery                                      18096
Medical/Surgical Intensive Care Unit (MICU/SICU)     17083
Cardiac Vascular Intensive Care Unit (CVICU)         16966
Obstetrics (Postpartum & Antepartum)                 16554
Surgical Intensive Care Unit (SICU)                  15308
Psychiatry                                           13971
Trauma SICU (TSICU)                                  12342
Hematology/Oncology Intermediate                     12008
Special Care Nursery (SCN)                           11614
Coronary Care Unit (CCU)                             11385
Medical/Surgical (Gynecology)                        10391
Surgery                                               9575
Surgery/Vascular/Intermediate                         9381
Surgery/Pancreatic/Biliary/Bariatric                  9157
Medicine/Cardiology Intermediate                      7353
Cardiology Surgery Intermediate                       4718
Observation                                           4604
Obstetrics Postpartum                                 4281
Neuro Intermediate                                    3715
Thoracic Surgery                                      3327
Neuro Surgical Intensive Care Unit (Neuro SICU)       2488
Cardiology                                            2456
Neuro Stepdown                                        1786
Obstetrics Antepartum                                 1471
Unknown                                                150
dtype: int64

In [ ]:
chartevents = pd.read_csv('chartevents.csv', header=0)
print(chartevents.shape)
chartevents.head()

In [ ]:
### Limited RAM left on this (takes 7GB).
emar = pd.read_csv('emar.csv', header=0)
print(emar.shape)
emar.head()

(27464367, 11)

   subject_id     hadm_id  ...         scheduletime            storetime
0    10000473         NaN  ...  2138-03-16 03:53:00  2138-03-16 03:53:00
1    10000764         NaN  ...  2132-10-14 21:49:00  2132-10-14 21:53:00
2    10000764         NaN  ...  2132-10-14 21:49:00  2132-10-14 21:53:00
3    10000764  27897940.0  ...  2132-10-14 23:54:00  2132-10-14 23:55:00
4    10000764  27897940.0  ...  2132-10-14 23:55:00  2132-10-14 23:55:00

[5 rows x 11 columns]

In [ ]:
### Need to parse into separate files.
labevents = pd.read_csv('labevents.csv', header=0)
print(labevents.shape)
labevents.head()

In [ ]:
### Need to parse into separate files. 
emar_detail = pd.read_csv('emar_detail.csv', header=0)
print(emar_detail.shape)
emar_detail.head()

In [ ]:
### Need to parse into separate files. Cannot load at all. 
poe = pd.read_csv('poe.csv', header=0)
print(poe.shape)
poe.head()

# COHORT

In [ ]:
cohort = pd.read_csv('cohort.csv', header = 0)
print(cohort.shape)
cohort.head()

In [ ]:
from datetime import datetime

cohort['readmit'] = np.where((cohort.no_icustays == 1), 0, 1)
cohort['admit_ed'] = np.where((cohort.admission_location == "EMERGENCY ROOM"), 1, 0)

hosp_len = []
for i in range(cohort.shape[0]):
  transfertime = datetime.strptime(cohort['outtime'][i], '%Y-%m-%d %H:%M:%S').day
  admittime = datetime.strptime(cohort['admittime'][i], '%Y-%m-%d %H:%M:%S').day
  hosp_len.append(transfertime - admittime)

cohort['hospital_stay'] = hosp_len

cohort.head()

   subject_id   hadm_id   stay_id  ... readmit admit_ed hospital_stay
0    15175657  24212233  30725529  ...       0        0             2
1    17843231  25996300  39919230  ...       0        1             1
2    17384222  26475614  34018090  ...       0        1             9
3    17406955  26123136  31860020  ...       0        1             4
4    10816811  25685438  39565076  ...       0        0            10

[5 rows x 23 columns]

In [ ]:
cohort.value_counts('hospital_stay')

hospital_stay
2     9647
1     8069
3     5749
4     3664
5     2549
      ...
26      13
27       7
29       4
28       4
30       1
Length: 61, dtype: int64

In [ ]:
cohort_final = pd.merge(cohort, labs, how = 'outer', on = ['subject_id', 'hadm_id', 'stay_id'])
print(cohort_final.shape)
cohort_final.head()

(44245, 165)

   subject_id   hadm_id   stay_id  ... rr_low temp_low wbc_low
0    15175657  24212233  30725529  ...    3.0      0.0     0.0
1    17843231  25996300  39919230  ...    NaN      NaN     NaN
2    17384222  26475614  34018090  ...    6.0      0.0     0.0
3    17406955  26123136  31860020  ...    0.0      0.0     3.0
4    10816811  25685438  39565076  ...    1.0      1.0     0.0

[5 rows x 165 columns]

# LABS

In [ ]:
labs_counts_low = pd.read_csv('labs_icu_counts_low.csv', header = 0)
print(labs_counts_low.shape)
labs_counts_low.head()

(620277, 16)

   subject_id   hadm_id   stay_id  ... no_icustays  gender  anchor_age
0    10001884  26184834  37510196  ...           1       F          68
1    10001884  26184834  37510196  ...           1       F          68
2    10001884  26184834  37510196  ...           1       F          68
3    10001884  26184834  37510196  ...           1       F          68
4    10001884  26184834  37510196  ...           1       F          68

[5 rows x 16 columns]

In [ ]:
labs_low = labs_counts_low.pivot_table('valuenum', ['subject_id', 'hadm_id', 'stay_id'], 'feature', aggfunc = 'count')

labs_low.reset_index(drop = False, inplace = True)
labs_low = labs_low.rename_axis(None, axis=1)
#labs_low.drop(labs_low.columns[[19, 20, 21]], axis = 1, inplace = True)
labs_low.columns = ['subject_id', 'hadm_id', 'stay_id', 'hco3_low', 'hgb_low', 'hr_low', 'k_low', 'map_low', 'na_low', 'plt_low', 'rr_low', 'temp_low', 'wbc_low']
labs_low = labs_low.fillna(0)
print(labs_low.shape)
labs_low.head()

(38543, 13)

   subject_id   hadm_id   stay_id  hco3_low  ...  plt_low  rr_low  temp_low  wbc_low
0    10001884  26184834  37510196       0.0  ...      0.0    14.0       0.0      0.0
1    10002013  23581541  39060235       0.0  ...      0.0     2.0       0.0      0.0
2    10002155  23822395  33685454       0.0  ...      0.0     0.0       9.0      2.0
3    10002223  22494570  39638202       0.0  ...      0.0     0.0       1.0      0.0
4    10002348  22725460  32610785       0.0  ...      0.0     0.0       1.0      0.0

[5 rows x 13 columns]

In [ ]:
labs_low.nunique() # wo count

subject_id    38543
hadm_id       38543
stay_id       38543
bicarb          829
hgb            1383
hr             1302
k                50
map               2
na              556
plt            2319
rr             2871
temp           1961
wbc             683
dtype: int64

In [ ]:
labs_low.nunique() # w count

subject_id    38543
hadm_id       38543
stay_id       38543
bicarb           65
hgb              64
hr              115
k                 8
map               1
na               52
plt              82
rr              200
temp             93
wbc              39
dtype: int64

In [ ]:
labs_low.describe()

         subject_id       hadm_id  ...          temp          wbc
count  3.854300e+04  3.854300e+04  ...  13785.000000  3320.000000
mean   1.499681e+07  2.498697e+07  ...      4.806094     3.134639
std    2.884946e+06  2.881812e+06  ...      8.003575     4.275776
min    1.000188e+07  2.000015e+07  ...      1.000000     1.000000
25%    1.250581e+07  2.250277e+07  ...      1.000000     1.000000
50%    1.499689e+07  2.496742e+07  ...      2.000000     2.000000
75%    1.750424e+07  2.747766e+07  ...      5.000000     4.000000
max    1.999999e+07  2.999962e+07  ...    235.000000    93.000000

[8 rows x 13 columns]

In [ ]:
labs_counts_high = pd.read_csv('labs_icu_counts_high.csv', header = 0)
print(labs_counts_high.shape)
labs_counts_high.head()

(3841920, 6)

   subject_id   hadm_id   stay_id feature  valuenum valueuom
0    10002155  23822395  33685454   tropT      2.65    ng/mL
1    10002155  23822395  33685454   tropT      3.99    ng/mL
2    10002430  26295318  38392119     bnp  23132.00    pg/mL
3    10002495  24982426  36753294     glu    370.00    mg/dL
4    10002495  24982426  36753294     glu    331.00    mg/dL

In [ ]:
labs_high = labs_counts_high.pivot_table('valuenum', ['subject_id', 'hadm_id', 'stay_id'], 'feature', aggfunc = 'count')

labs_high.reset_index(drop = False, inplace = True)
labs_high = labs_high.rename_axis(None, axis=1)
#labs_low.drop(labs_low.columns[[19, 20, 21]], axis = 1, inplace = True)
labs_high.columns = ['subject_id', 'hadm_id', 'stay_id', 'hco3_high', 'bnp_high', 'bun_high', 'crp_high', 'esr_high', 'glu_high', 'hr_high', 'k_high', 'lac_high', 'map_high', 'na_high', 'rr_high', 'temp_high', 'tropT_high', 'wbc_high']
labs_high = labs_high.fillna(0)
print(labs_high.shape)
labs_high.head()

(44095, 18)

   subject_id   hadm_id   stay_id  ...  temp_high  tropT_high  wbc_high
0    10001217  24597018  37067082  ...        0.0         0.0       1.0
1    10001725  25563031  31205490  ...        0.0         0.0       2.0
2    10001884  26184834  37510196  ...        1.0         0.0       8.0
3    10002013  23581541  39060235  ...        0.0         0.0       3.0
4    10002155  23822395  33685454  ...        0.0         2.0       0.0

[5 rows x 18 columns]

In [ ]:
labs_high.nunique() # w count

subject_id    44095
hadm_id       44095
stay_id       44095
hco3_high        62
bnp_high          6
bun_high        104
crp_high          9
esr_high          4
glu_high         22
hr_high         488
k_high           45
lac_high         94
map_high          1
na_high          92
rr_high         833
temp_high        89
tropT_high       21
wbc_high         85
dtype: int64

In [ ]:
labs_high.describe()

         subject_id       hadm_id  ...   tropT_high      wbc_high
count  4.409500e+04  4.409500e+04  ...  3152.000000  25463.000000
mean   1.499474e+07  2.498366e+07  ...     3.107234      4.495464
std    2.890070e+06  2.885041e+06  ...     2.174968      6.348174
min    1.000122e+07  2.000015e+07  ...     1.000000      1.000000
25%    1.248926e+07  2.249742e+07  ...     2.000000      1.000000
50%    1.499689e+07  2.496239e+07  ...     3.000000      3.000000
75%    1.750961e+07  2.747581e+07  ...     4.000000      5.000000
max    1.999999e+07  2.999983e+07  ...    24.000000    118.000000

[8 rows x 18 columns]

In [ ]:
high_low = pd.merge(labs_high, labs_low, how = 'outer', on = ['subject_id', 'hadm_id', 'stay_id'])

print(high_low.shape)
high_low.head()

(44209, 28)

   subject_id   hadm_id   stay_id  ...  rr_low  temp_low  wbc_low
0    10001217  24597018  37067082  ...     NaN       NaN      NaN
1    10001725  25563031  31205490  ...     NaN       NaN      NaN
2    10001884  26184834  37510196  ...    14.0       0.0      0.0
3    10002013  23581541  39060235  ...     2.0       0.0      0.0
4    10002155  23822395  33685454  ...     0.0       9.0      2.0

[5 rows x 28 columns]

In [ ]:
labs_max = pd.read_csv('labs_max.csv', header = 0)
print(labs_max.shape)
labs_max.head()

(1113449, 5)

   subject_id   hadm_id   stay_id     feature  max_val
0    19452423  28656889  33252269          rr     26.0
1    19452423  28656889  33252269        spo2    100.0
2    19452423  28656889  33252269          hr    133.0
3    19452423  28656889  33252269  gcs_verbal      4.0
4    19452423  28656889  33252269        fio2    100.0

In [ ]:
test_max = labs_max.pivot_table('max_val', ['subject_id', 'hadm_id', 'stay_id'], 'feature')

test_max.reset_index(drop = False, inplace = True)
test_max = test_max.rename_axis(None, axis=1)
test_max.drop(test_max.columns[[19, 20, 21]], axis = 1, inplace = True)
test_max.columns = ['subject_id', 'hadm_id', 'stay_id', 'alt_max', 'ast_max', 'alkphos_max', 'ammonia_max', 'anion_gap_max', 'bicarb_max', 'bnp_max', 'bun_max', 'cl_max', 'ck_max', 'cortisol_max', 'cr_max', 'crp_max', 'dbili_max', 'esr_max', 'fio2_max', 'glu_max', 'hgb_max', 'hr_max', 'ht', 'inr_max', 'k_max', 'lac_max', 'lipase_max', 'map_max', 'na_max', 'pH_max', 'paco2_max', 'pao2_max', 'plt_max', 'rr_max', 'sao2_max', 'spo2_max', 'tbili_max', 'temp_max', 'transfusion_consent', 'tropT_max', 'wbc_max', 'wgt']
print(test_max.shape)
test_max.head()

(44245, 42)

   subject_id   hadm_id   stay_id  ...  tropT_max  wbc_max   wgt
0    10001217  24597018  37067082  ...        NaN     19.0   NaN
1    10001725  25563031  31205490  ...        NaN     20.1   NaN
2    10001884  26184834  37510196  ...       0.08     18.4   NaN
3    10002013  23581541  39060235  ...        NaN     20.2   NaN
4    10002155  23822395  33685454  ...       3.99      6.5  53.0

[5 rows x 42 columns]

In [ ]:
labs_min = pd.read_csv('labs_min.csv', header = 0)
print(labs_min.shape)
labs_min.head()

(1113449, 5)

   subject_id   hadm_id   stay_id  feature  min_val
0    11155072  22807589  32764467     spo2     95.0
1    11155072  22807589  32764467       hr     75.0
2    11155072  22807589  32764467     temp     97.6
3    11155072  22807589  32764467      bun      9.0
4    11155072  22807589  32764467  gcs_eye      4.0

In [ ]:
test_min = labs_min.pivot_table('min_val', ['subject_id', 'hadm_id', 'stay_id'], 'feature')

test_min.reset_index(drop = False, inplace = True)
test_min = test_min.rename_axis(None, axis=1)
test_min.drop(test_min.columns[[19, 20, 21]], axis = 1, inplace = True)
test_min.columns = ['subject_id', 'hadm_id', 'stay_id', 'alt_min', 'ast_min', 'alkphos_min', 'ammonia_min', 'anion_gap_min', 'bicarb_min', 'bnp_min', 'bun_min', 'cl_min', 'ck_min', 'cortisol_min', 'cr_min', 'crp_min', 'dbili_min', 'esr_min', 'fio2_min', 'glu_min', 'hgb_min', 'hr_min', 'ht', 'inr_min', 'k_min', 'lac_min', 'lipase_min', 'map_min', 'na_min', 'pH_min', 'paco2_min', 'pao2_min', 'plt_min', 'rr_min', 'sao2_min', 'spo2_min', 'tbili_min', 'temp_min', 'transfusion_consent', 'tropT_min', 'wbc_min', 'wgt']
print(test_min.shape)
test_min.head()

(44245, 42)

   subject_id   hadm_id   stay_id  ...  tropT_min  wbc_min   wgt
0    10001217  24597018  37067082  ...        NaN     19.0   NaN
1    10001725  25563031  31205490  ...        NaN     17.0   NaN
2    10001884  26184834  37510196  ...       0.08     10.7   NaN
3    10002013  23581541  39060235  ...        NaN     17.9   NaN
4    10002155  23822395  33685454  ...       2.65      3.8  53.0

[5 rows x 42 columns]

In [ ]:
min_max = pd.merge(test_min, test_max, how = "outer", on = ['subject_id', 'hadm_id', 'stay_id'])
print(min_max.shape)
min_max.head()

(44245, 81)

   subject_id   hadm_id   stay_id  ...  tropT_max  wbc_max  wgt_y
0    10001217  24597018  37067082  ...        NaN     19.0    NaN
1    10001725  25563031  31205490  ...        NaN     20.1    NaN
2    10001884  26184834  37510196  ...       0.08     18.4    NaN
3    10002013  23581541  39060235  ...        NaN     20.2    NaN
4    10002155  23822395  33685454  ...       3.99      6.5   53.0

[5 rows x 81 columns]

In [ ]:
labs_last = pd.read_csv('labs_last.csv', header=0)
labs_last = labs_last.pivot_table('valuenum', ['subject_id', 'hadm_id', 'stay_id'], 'feature')
labs_last.reset_index(drop = False, inplace = True)
labs_last = labs_last.rename_axis(None, axis=1)
labs_last.drop(labs_last.columns[[19, 20, 21]], axis = 1, inplace = True)
labs_last.columns = ['subject_id', 'hadm_id', 'stay_id', 'alt_last', 'ast_last', 'alkphos_last', 'ammonia_last', 'anion_gap_last', 'hco3_last', 'bnp_last', 'bun_last', 'cl_last', 'ck_last', 'cortisol_last', 'cr_last', 'crp_last', 'dbili_last', 'esr_last', 'fio2_last', 'glu_last', 'hgb_last', 'hr_last', 'ht', 'inr_last', 'k_last', 'lac_last', 'lipase_last', 'map_last', 'na_last', 'pH_last', 'paco2_last', 'pao2_last', 'plt_last', 'rr_last', 'sao2_last', 'spo2_last', 'tbili_last', 'temp_last', 'transfusion_consent', 'tropT_last', 'wbc_last', 'wgt']
print(labs_last.shape)
labs_last.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(44245, 42)

   subject_id   hadm_id   stay_id  ...  tropT_last  wbc_last   wgt
0    10001217  24597018  37067082  ...         NaN      19.0   NaN
1    10001725  25563031  31205490  ...         NaN      17.0   NaN
2    10001884  26184834  37510196  ...        0.08      18.4   NaN
3    10002013  23581541  39060235  ...         NaN      18.2   NaN
4    10002155  23822395  33685454  ...        3.99       5.5  53.0

[5 rows x 42 columns]

In [ ]:
min_max_last = pd.merge(min_max, labs_last, how = "outer", on = ['subject_id', 'hadm_id', 'stay_id'])
print(min_max_last.shape)
min_max_last.head()

(44245, 120)

   subject_id   hadm_id   stay_id  ...  tropT_last  wbc_last   wgt
0    10001217  24597018  37067082  ...         NaN      19.0   NaN
1    10001725  25563031  31205490  ...         NaN      17.0   NaN
2    10001884  26184834  37510196  ...        0.08      18.4   NaN
3    10002013  23581541  39060235  ...         NaN      18.2   NaN
4    10002155  23822395  33685454  ...        3.99       5.5  53.0

[5 rows x 120 columns]

In [ ]:
labs = pd.merge(min_max_last, high_low, how = 'outer', on = ['subject_id', 'hadm_id', 'stay_id'])
print(labs.shape)
labs.head()

(44245, 145)

   subject_id   hadm_id   stay_id  alt_min  ...  plt_low  rr_low  temp_low  wbc_low
0    10001217  24597018  37067082      NaN  ...      NaN     NaN       NaN      NaN
1    10001725  25563031  31205490      NaN  ...      NaN     NaN       NaN      NaN
2    10001884  26184834  37510196    116.0  ...      0.0    14.0       0.0      0.0
3    10002013  23581541  39060235      NaN  ...      0.0     2.0       0.0      0.0
4    10002155  23822395  33685454      NaN  ...      0.0     0.0       9.0      2.0

[5 rows x 145 columns]

In [ ]:
pao2 = pd.read_csv('pao2.csv', header = 0)
print(pao2.shape)
pao2.head()

In [ ]:
fio2 = pd.read_csv('fio2.csv', header = 0)
print(fio2.shape)
fio2.head()

In [ ]:
vent = pd.read_csv('vent.csv', header = 0)
print(vent.shape)
vent.head()

# Define Cohort.

## (RUN ONCE) Get intubated subjects and intubation variables.

In [ ]:
### Cycle through chartevents.

chartevents = pd.read_csv('/content/drive/MyDrive/BMI212/chartevents/CHARTEVENTS_0.csv', header = 0)
print(chartevents.shape)
chartevents.head()

In [ ]:
# Pull patients who were intubated.
vent_type_id = [722,223849]
arf_mechvent = chartevents.loc[np.where(chartevents['ITEMID'].isin(vent_type_id) == True)[0]] 
len(arf_mechvent['SUBJECT_ID'].unique())

In [ ]:
# See counts of ventilator types.
arf_mechvent['VALUE'].value_counts()

Series([], Name: VALUE, dtype: int64)

In [ ]:
# Remove ventilator types for CPAP.
arf_mechvent = arf_mechvent[-arf_mechvent['VALUE'].str.contains('CPAP', na=False)]
arf_mechvent['VALUE'].value_counts()

In [ ]:
### Write results to csv file.
# name of csv file 
filename = "mechvent_subj0.csv"
    
# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the header
    csvwriter.writerow(arf_mechvent.columns) 
        
    # writing the data rows 
    for i in range(arf_mechvent.shape[0]):
      csvwriter.writerow(arf_mechvent.iloc[i])

## Extracting ICD9 diagnoses: ARF, COPD.

In [ ]:
### ICD9 diagnoses linked to admission and subject ID.
diagnoses_icd = pd.read_csv('DIAGNOSES_ICD.csv', header = 0)
print(diagnoses_icd.shape)
diagnoses_icd.head()

(651047, 5)

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254

In [ ]:
### ICD9 code diagnoses descriptions.
# Check acute respiratory failure diagnosis.
icd_dx = pd.read_csv('D_ICD_DIAGNOSES.csv', header = 0)
print(icd_dx.shape)

# ID search grids for acute respiratory failure, COPD.
arf_searchgrid = ['51881','51884']
bronchitis_searchgrid = ['4910','4911','49120','49121','49122','4918', '4919']
emphysema_searchgrid = ['4928', '5181','5182','7702']
copd_searchgrid = np.concatenate((bronchitis_searchgrid, emphysema_searchgrid))

icd_dx[icd_dx['ICD9_CODE'].str.contains('51884')]

(14567, 4)

      ROW_ID  ...                             LONG_TITLE
5553    5282  ...  Acute and chronic respiratory failure

[1 rows x 4 columns]

In [ ]:
# Get COPD diagnoses.
copd_dx = diagnoses_icd.loc[np.where(diagnoses_icd['ICD9_CODE'].isin(copd_searchgrid) == True)[0]]
print('No. COPD total: ', len(copd_dx['SUBJECT_ID']))
print('No. COPD unique: ', len(copd_dx['SUBJECT_ID'].unique()))

copd_dx.drop(copd_dx.columns[[0,3,4]], axis = 1, inplace = True)
copd_dx.head()

No. COPD total:  2172
No. COPD unique:  1776

      SUBJECT_ID  HADM_ID
141          124   138376
841           33   176176
2391         165   170252
2776         111   192123
3843         480   182365

In [ ]:
# Get acute respiratory failure diagnoses.
arf_dx = diagnoses_icd.loc[np.where(diagnoses_icd['ICD9_CODE'].isin(arf_searchgrid) == True)[0]]
print('No. acute respiratory failure total: ', len(arf_dx['SUBJECT_ID']))
print('No. acute respiratory failure unique: ', len(arf_dx['SUBJECT_ID'].unique()))

#arf_dx = arf_dx[arf_dx['SEQ_NUM'] == 1.0]
#print('No. acute respiratory failure primary dx: ', arf_dx['SUBJECT_ID'].nunique())

arf_dx.drop(arf_dx.columns[[0,3,4]], axis = 1, inplace = True)
arf_dx.head()

No. acute respiratory failure total:  8181
No. acute respiratory failure unique:  7145

      SUBJECT_ID  HADM_ID
491           91   121205
518           94   140037
564          101   175533
1517         250   124271
1535         252   190159

## Extracting ICD9 procedures: intubation.

In [ ]:
### ICD9 code procedures descriptions.
icd_proc = pd.read_csv('D_ICD_PROCEDURES.csv', header = 0)
print(icd_proc.shape)
icd_proc.head()

(3882, 4)

   ROW_ID  ...                                         LONG_TITLE
0     264  ...                                         Canthotomy
1     265  ...                                    Blepharorrhaphy
2     266  ...                   Other adjustment of lid position
3     267  ...   Reconstruction of eyelid with skin flap or graft
4     268  ...  Reconstruction of eyelid with mucous membrane ...

[5 rows x 4 columns]

In [ ]:
### Search for invasive mechanical ventilation ICD9 procedure codes.
icd_proc[icd_proc['LONG_TITLE'].str.contains('mechanical ventilation', na = False)]
icd_vent_searchgrid = ['9670','9671','9672'] #ICD9 for invasive mechanical ventilation.

In [ ]:
### Get procedure ICDs.
procedures = pd.read_csv('PROCEDURES_ICD.csv', header = 0)
print(procedures.shape)
procedures.head()

(240095, 5)

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0     944       62641   154460        3       3404
1     945        2592   130856        1       9671
2     946        2592   130856        2       3893
3     947       55357   119355        1       9672
4     948       55357   119355        2        331

In [ ]:
### Get patients with mechanical ventilation.
icd_vent_pts = procedures.loc[np.where(procedures['ICD9_CODE'].isin(icd_vent_searchgrid) == True)[0]] 
print('No. intubated patients: ', icd_vent_pts['SUBJECT_ID'].nunique())

icd_vent_pts.drop(icd_vent_pts.columns[[0,3,4]], axis = 1, inplace = True)
icd_vent_pts.head()

icd_vent_pts.head()

No. intubated patients:  13098

    SUBJECT_ID  HADM_ID
1         2592   130856
3        55357   119355
14       16994   115444
40        4454   177326
63         755   123796

## Mechanical ventilation indicators.

In [ ]:
### Get list of unique hospital admissions with mechanical ventilation.
arf1 = pd.read_csv('mechvent_subj1.csv', header = 0)
arf2 = pd.read_csv('mechvent_subj2.csv', header = 0)
arf3 = pd.read_csv('mechvent_subj3.csv', header = 0)
arf4 = pd.read_csv('mechvent_subj4.csv', header = 0)
arf5 = pd.read_csv('mechvent_subj5.csv', header = 0)
arf6 = pd.read_csv('mechvent_subj6.csv', header = 0)
arf7 = pd.read_csv('mechvent_subj7.csv', header = 0)
arf8 = pd.read_csv('mechvent_subj8.csv', header = 0)
arf9 = pd.read_csv('mechvent_subj9.csv', header = 0)
arf10 = pd.read_csv('mechvent_subj10.csv', header = 0)
arf11 = pd.read_csv('mechvent_subj11.csv', header = 0)
arf13 = pd.read_csv('mechvent_subj13.csv', header = 0)
arf14 = pd.read_csv('mechvent_subj14.csv', header = 0)
arf15 = pd.read_csv('mechvent_subj15.csv', header = 0)

#mechvent_pts = np.concatenate((arf1['HADM_ID'].unique(),arf2['HADM_ID'].unique(),
#                               arf3['HADM_ID'].unique(),arf4['HADM_ID'].unique(),
#                               arf5['HADM_ID'].unique(),arf6['HADM_ID'].unique(),
#                               arf7['HADM_ID'].unique(),arf8['HADM_ID'].unique(),
#                               arf9['HADM_ID'].unique(),arf10['HADM_ID'].unique(),
#                               arf11['HADM_ID'].unique(),arf13['HADM_ID'].unique(),
#                               arf14['HADM_ID'].unique(), arf15['HADM_ID'].unique()))

mechvent_pts = pd.concat([arf1, arf2, arf3, arf4, arf5, arf6, arf7, arf8, arf9, arf10, arf11, arf13, arf14, arf15])
mechvent_pts = mechvent_pts[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUE']] #keep necessary cols
mechvent_pts = mechvent_pts[-(mechvent_pts['VALUE'].isna() == True)] #remove NA
print('No. intubated patients: ', mechvent_pts['SUBJECT_ID'].nunique())

No. intubated patients:  20192

## Extract intubated patients with ARF.

In [ ]:
### Load data.
admissions = pd.read_csv('ADMISSIONS.csv', header = 0, delimiter = ',')

del admissions['ROW_ID']
admissions = admissions.reset_index()
admissions.head()
del admissions['index']

print(admissions.shape)
admissions.head()

(58976, 18)

   SUBJECT_ID  HADM_ID  ... HOSPITAL_EXPIRE_FLAG HAS_CHARTEVENTS_DATA
0          22   165315  ...                    0                    1
1          23   152223  ...                    0                    1
2          23   124321  ...                    0                    1
3          24   161859  ...                    0                    1
4          25   129635  ...                    0                    1

[5 rows x 18 columns]

In [ ]:
### ICU stays.
icustay = pd.read_csv('ICUSTAYS.csv', header = 0)

del icustay['ROW_ID']
icustay = icustay.reset_index()
del icustay['index']

print(icustay.shape)
icustay.head()

(61532, 11)

   SUBJECT_ID  HADM_ID  ...              OUTTIME     LOS
0         268   110404  ...  2198-02-18 05:26:11  3.2490
1         269   106296  ...  2170-11-08 17:46:57  3.2788
2         270   188028  ...  2128-06-27 12:32:29  2.8939
3         271   173727  ...  2120-08-10 00:39:04  2.0600
4         272   164716  ...  2186-12-27 12:01:13  1.6202

[5 rows x 11 columns]

In [ ]:
### COHORT DEFINITOIN
# Cohort: Mechnically ventilated patients with ARF dx. 
#arf_vent1 = pd.merge(arf_dx, mechvent_pts, on = ['SUBJECT_ID', 'HADM_ID'])
#arf_vent2 = pd.merge(arf_dx, icd_vent_pts, on = ['SUBJECT_ID', 'HADM_ID'])
#cohort_prelim = pd.merge(arf_vent1, arf_vent2, how = 'outer', on = ['SUBJECT_ID', 'HADM_ID'])
cohort_prelim = pd.merge(arf_dx, icd_vent_pts, on = ['SUBJECT_ID', 'HADM_ID'])
print('No. mechnically ventilated w ARF patients: ', cohort_prelim['SUBJECT_ID'].nunique())

cohort_prelim.head()

No. mechnically ventilated w ARF patients:  5825

   SUBJECT_ID  HADM_ID
0          91   121205
1          94   140037
2         101   175533
3         250   124271
4         252   190159

In [ ]:
### Cohort: add icu stays
cohort_prelim = pd.merge(cohort_prelim, icustay, on = ['SUBJECT_ID', 'HADM_ID'])
print('No. icu stays w arf and intubation: ', len(cohort_prelim['ICUSTAY_ID'].unique()))
print('No. patients w arf and intubation: ', len(cohort_prelim['SUBJECT_ID'].unique()))

### Cohort: length of icu stay > 1d
cohort_prelim = cohort_prelim[cohort_prelim['LOS'] > 1]
print('No. icu stays > 24h w intubation: ', len(cohort_prelim['ICUSTAY_ID'].unique()))
print('No. patients > 24h icu stay w intubation: ', len(cohort_prelim['SUBJECT_ID'].unique()))

cohort_prelim.head()

No. icu stays w arf and intubation:  7436
No. patients w arf and intubation:  5821
No. icu stays > 24h w intubation:  7042
No. patients > 24h icu stay w intubation:  5586

   SUBJECT_ID  HADM_ID  ...              OUTTIME      LOS
1          91   121205  ...  2177-05-10 15:16:00   3.4750
2          94   140037  ...  2176-09-25 14:00:30  22.8977
3         101   175533  ...  2196-10-06 16:01:56   9.8919
4         250   124271  ...  2188-11-23 01:24:45  10.6659
5         252   190159  ...  2133-04-10 20:52:09  10.6859

[5 rows x 11 columns]

In [ ]:
### Get patient age
patients = pd.read_csv('PATIENTS.csv', header=0)
patients.head()
del patients['ROW_ID']
patients = patients.reset_index()
del patients['index']

pt_info = pd.merge(admissions, patients, how = 'left', on = ['SUBJECT_ID'])
#pt_info['age'] = pt_info['ADMITTIME'] - pt_info['DOB']
pt_info.loc[0]['ADMITTIME']
from datetime import datetime
age = []
for i in range(pt_info.shape[0]):
  admit = datetime.strptime(pt_info.loc[i]['ADMITTIME'],'%Y-%m-%d %H:%M:%S')
  admit = admit.year
  dob = datetime.strptime(pt_info.loc[i]['DOB'],'%Y-%m-%d %H:%M:%S')
  dob = dob.year
  age.append(admit-dob)

pt_info['age'] = age

In [ ]:
# Cohort: Remove < 18yo.
cohort_prelim = pd.merge(cohort_prelim, pt_info, on = ['SUBJECT_ID', 'HADM_ID'])
#cohort_final = cohort_final.sort_values('HADM_ID')
cohort_prelim[cohort_prelim['age'] >= 18]

print('No. icu stays: ', cohort_prelim['ICUSTAY_ID'].nunique())
print('No. patients: ', cohort_prelim['SUBJECT_ID'].nunique())

cohort_prelim.head()

No. icu stays:  7042
No. patients:  5586

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ...              DOD_SSN EXPIRE_FLAG age
0          91   121205      256972  ...  2177-05-10 00:00:00           1  82
1          94   140037      213450  ...  2178-08-17 00:00:00           1  75
2         101   175533      233111  ...                  NaN           1  82
3         250   124271      205951  ...                  NaN           1  24
4         252   190159      221239  ...                  NaN           0  55

[5 rows x 34 columns]

In [ ]:
### Cohort: Keep only first hospital admission.
cohort_prelim = cohort_prelim.sort_values('SUBJECT_ID')
cohort_prelim = cohort_prelim.reset_index()
del cohort_prelim['index']
print(cohort_prelim.shape[0], cohort_prelim['ICUSTAY_ID'].nunique(), cohort_prelim['HADM_ID'].nunique(), cohort_prelim['SUBJECT_ID'].nunique())

result = cohort_prelim.groupby('SUBJECT_ID')['ADMITTIME'].agg([min])
result.index.name = 'SUBJECT_ID'
result.reset_index(inplace=True)

print(result.shape[0], result['SUBJECT_ID'].nunique())

cohort_prelim_filter = pd.merge(cohort_prelim, result, on = ['SUBJECT_ID'])


cohort_prelim_filter = cohort_prelim_filter.sort_values(['SUBJECT_ID','HADM_ID','INTIME'])
cohort_prelim_filter = cohort_prelim_filter.reset_index()
del cohort_prelim_filter['index']

#df.sort_values(['a', 'b'], ascending=[True, False])
index = []
for i in range(cohort_prelim_filter.shape[0]):
  if cohort_prelim_filter.loc[i]['ADMITTIME'] == cohort_prelim_filter.loc[i]['min']:
    continue
  else: 
    index.append(i)

print(len(index))
cohort_prelim_filter = cohort_prelim_filter.drop(index)
print(cohort_prelim_filter.shape[0], cohort_prelim_filter['ICUSTAY_ID'].nunique(), cohort_prelim_filter['HADM_ID'].nunique(), cohort_prelim_filter['SUBJECT_ID'].nunique())
print(cohort_prelim.shape[0] - cohort_prelim_filter.shape[0])

7611 7042 6202 5586
5586 5586
746
6865 6351 5586 5586
746

In [ ]:
### Cohort split.
#cohort_readmit = cohort_prelim[cohort_prelim.duplicated(['SUBJECT_ID', 'HADM_ID'])]

e = cohort_prelim_filter['HADM_ID'].value_counts()
cohort_readmit = cohort_prelim_filter[cohort_prelim_filter['HADM_ID'].isin(e[e>1].index)]
cohort_readmit = cohort_readmit.sort_values(['SUBJECT_ID','HADM_ID'])
cohort_readmit = cohort_readmit.reset_index()
del cohort_readmit['index']
print(cohort_readmit.shape[0], cohort_readmit['ICUSTAY_ID'].nunique(), cohort_readmit['HADM_ID'].nunique(), cohort_readmit['SUBJECT_ID'].nunique())


cohort_nonreadmit = cohort_prelim_filter[cohort_prelim_filter['HADM_ID'].isin(e[e<=1].index)]
cohort_nonreadmit = cohort_nonreadmit.reset_index()
del cohort_nonreadmit['index']

print('Outcome cohort: ', cohort_readmit.shape[0], cohort_readmit['HADM_ID'].nunique(), len(cohort_readmit['SUBJECT_ID'].unique()))
print('Control cohort: ', cohort_nonreadmit.shape[0], cohort_nonreadmit['HADM_ID'].nunique(), len(cohort_nonreadmit['SUBJECT_ID'].unique()))

2149 1635 870 870
Outcome cohort:  2149 870 870
Control cohort:  4716 4716 4716

In [ ]:
# Split cohort: Nonreadmits -- remove discharge out directly from ICU.
cohort_nonreadmit_final = cohort_nonreadmit[-(cohort_nonreadmit['OUTTIME'] == cohort_nonreadmit['DISCHTIME'])]
print('No. patients: ', cohort_nonreadmit_final.shape[0], cohort_nonreadmit_final['ICUSTAY_ID'].nunique(), cohort_nonreadmit_final['HADM_ID'].nunique(), cohort_nonreadmit_final['SUBJECT_ID'].nunique())

No. patients:  4597 4597 4597 4597

In [ ]:
# Split cohort: get first icu stay, first icu readmission (if applicable).
# remove duplicate icu stays before removing >2 icu stays.

e = cohort_readmit['ICUSTAY_ID'].value_counts()
cohort_readmit_filter = cohort_readmit[cohort_readmit['ICUSTAY_ID'].isin(e[e <= 1].index)]
#cohort_readmit_filter = cohort_readmit_filter.sort_values(['SUBJECT_ID','HADM_ID'])
cohort_readmit_filter = cohort_readmit_filter.reset_index()
del cohort_readmit_filter['index']
print(cohort_readmit_filter.shape[0], cohort_readmit_filter['ICUSTAY_ID'].nunique(), cohort_readmit_filter['HADM_ID'].nunique(), cohort_readmit_filter['SUBJECT_ID'].nunique())

1167 1167 524 524

In [ ]:
# Split cohort: get first icu stay, first icu readmission.

cohort_readmit_filter_icu = cohort_readmit_filter.sort_values(['HADM_ID','INTIME'], ascending=[True, True])
cohort_readmit_filter_icu = cohort_readmit_filter_icu.reset_index()
del cohort_readmit_filter_icu['index']
cohort_readmit_filter_icu.head()

count = 1
drop = []
for i in range(cohort_readmit_filter_icu.shape[0]-1):
  if cohort_readmit_filter_icu.loc[i]['HADM_ID'] == cohort_readmit_filter_icu.loc[i+1]['HADM_ID']:
    count += 1
    if count >= 3:
      drop.append(i+1)
    else: 
      continue
  else:
    count = 1

print(cohort_readmit_filter_icu.shape[0], cohort_readmit_filter_icu['ICUSTAY_ID'].nunique(), 
      cohort_readmit_filter_icu['HADM_ID'].nunique(), cohort_readmit_filter_icu['SUBJECT_ID'].nunique())

cohort_readmit_filter_icu = cohort_readmit_filter_icu.drop(drop)
cohort_readmit_filter_icu = cohort_readmit_filter_icu.reset_index()
del cohort_readmit_filter_icu['index']
print(len(drop))

print(cohort_readmit_filter_icu.shape[0], cohort_readmit_filter_icu['ICUSTAY_ID'].nunique(), 
      cohort_readmit_filter_icu['HADM_ID'].nunique(), cohort_readmit_filter_icu['SUBJECT_ID'].nunique())

#cohort_readmit_filter_icu.loc[0:14][:]

#cohort_readmit_filter = cohort_readmit_filter.drop(index)

1167 1167 524 524
119
1048 1048 524 524

In [ ]:
# Split cohort: Readmission <= 7d
# take out both patient lines if icu readmission > 7d

drop = []
for i in range(cohort_readmit_filter_icu.shape[0]):
  if (i % 2) == 1: 
    time_dc = datetime.strptime(cohort_readmit_filter_icu.loc[i-1]['OUTTIME'],'%Y-%m-%d %H:%M:%S')
    time_dc = time_dc.day
    time_readmit = datetime.strptime(cohort_readmit_filter_icu.loc[i]['INTIME'],'%Y-%m-%d %H:%M:%S')
    time_readmit = time_readmit.day
    if time_readmit - time_dc > 7:
      drop.append(i-1)
      drop.append(i)
    else:
      continue

cohort_readmit_final = cohort_readmit_filter_icu.drop(drop)
print('No. dropped: ', len(drop))
print('Final readmit cohort: ', cohort_readmit_final.shape[0], cohort_readmit_final['ICUSTAY_ID'].nunique(), cohort_readmit_final['HADM_ID'].nunique(), cohort_readmit_final['SUBJECT_ID'].nunique())
cohort_readmit_final.head()

No. dropped:  156
Final readmit cohort:  892 892 446 446

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ... EXPIRE_FLAG age                  min
0       49079   100234      256814  ...           1  83  2118-10-23 19:34:00
1       49079   100234      262878  ...           1  83  2118-10-23 19:34:00
2        5476   100343      207651  ...           1  75  2132-04-19 16:34:00
3        5476   100343      244893  ...           1  75  2132-04-19 16:34:00
4       80030   100442      249621  ...           0  56  2119-06-07 02:43:00

[5 rows x 35 columns]

## Final cohort definition.

In [ ]:
### Combine cohort with outcome label.

cohort_readmit_final['outcome'] = np.ones((cohort_readmit_final.shape[0],1))
cohort_readmit_final = cohort_readmit_final.sort_values('HADM_ID')
cohort_readmit_final = cohort_readmit_final.reset_index()
del cohort_readmit_final['index']

cohort_readmit_icu1 = cohort_readmit_final.drop_duplicates(subset=['HADM_ID'], keep='first', inplace=False)
cohort_readmit_icu2 = cohort_readmit_final.drop_duplicates(subset=['HADM_ID'], keep='last', inplace=False)
#cohort_readmit_icu1 = cohort_readmit_final[(cohort_readmit_final.index % 2 != 1)]
#cohort_readmit_icu2 = cohort_readmit_final[(cohort_readmit_final.index % 2 == 1)]

cohort_nonreadmit_final['outcome'] = np.zeros((cohort_nonreadmit_final.shape[0],1))

cohort = pd.concat([cohort_readmit_icu1, cohort_nonreadmit_final],axis=0)
cohort = cohort.reset_index()
del cohort['index']
cohort = pd.DataFrame(cohort)
print(cohort.shape, cohort['SUBJECT_ID'].nunique())
cohort.head()

(5043, 36) 5043

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ... age                  min outcome
0       49079   100234      256814  ...  83  2118-10-23 19:34:00     1.0
1        5476   100343      207651  ...  75  2132-04-19 16:34:00     1.0
2       80030   100442      249621  ...  56  2119-06-07 02:43:00     1.0
3       85501   100606      234615  ...  68  2164-04-01 21:02:00     1.0
4       12215   100658      239402  ...  82  2186-02-07 05:34:00     1.0

[5 rows x 36 columns]

In [ ]:
### Write results to csv file.
# name of csv file 
filename = "cohort.csv"
    
# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the header
    csvwriter.writerow(cohort.columns) 
        
    # writing the data rows 
    for i in range(cohort.shape[0]):
      csvwriter.writerow(cohort.iloc[i])

# Get Cohort.

In [ ]:
### Load cohort.
cohort = pd.read_csv('cohort.csv', header=0)
print(cohort.shape, cohort['SUBJECT_ID'].nunique())
n = cohort.shape[0]
#cohort.head()

(5043, 36) 5043

## Age, COPD hx

In [ ]:
### Variable: age bin
age_bin = []

for i in range(cohort.shape[0]):
  if cohort.loc[i]['age'] < 40:
    age_bin.append(0)
  elif cohort.loc[i]['age'] >= 70:
    age_bin.append(2)
  else:
    age_bin.append(1)

cohort['age_bin'] = age_bin

In [ ]:
### COPD
diagnoses_icd = pd.read_csv('DIAGNOSES_ICD.csv', header = 0)

bronchitis_searchgrid = ['4910','4911','49120','49121','49122','4918', '4919']
emphysema_searchgrid = ['4928', '5181','5182','7702']
copd_searchgrid = np.concatenate((bronchitis_searchgrid, emphysema_searchgrid))

copd_dx = diagnoses_icd.loc[np.where(diagnoses_icd['ICD9_CODE'].isin(copd_searchgrid) == True)[0]]
print('No. COPD total: ', len(copd_dx['SUBJECT_ID']))
print('No. COPD unique: ', len(copd_dx['SUBJECT_ID'].unique()))

copd_dx.drop(copd_dx.columns[[0,3,4]], axis = 1, inplace = True)

copd = np.zeros((n,1))
for i in range(n):
  if cohort.loc[i]['HADM_ID'] in copd_dx['HADM_ID']:
    copd[i] = 1
  else: 
    continue

cohort['COPD_hx'] = copd
print(cohort['COPD_hx'].value_counts())
cohort.head()

No. COPD total:  2172
No. COPD unique:  1776
0.0    5018
1.0      25
Name: COPD_hx, dtype: int64

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ... outcome age_bin COPD_hx
0       49079   100234      256814  ...     1.0       2     0.0
1        5476   100343      207651  ...     1.0       2     0.0
2       80030   100442      249621  ...     1.0       1     0.0
3       85501   100606      234615  ...     1.0       1     0.0
4       12215   100658      239402  ...     1.0       2     0.0

[5 rows x 38 columns]

## (TBD) Note variables.

In [ ]:
notes = pd.read_csv('NOTEEVENTS.csv', header = 0)
print(notes.shape)
notes.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2083180, 11)

   ROW_ID  ...                                               TEXT
0     174  ...  Admission Date:  [**2151-7-16**]       Dischar...
1     175  ...  Admission Date:  [**2118-6-2**]       Discharg...
2     176  ...  Admission Date:  [**2119-5-4**]              D...
3     177  ...  Admission Date:  [**2124-7-21**]              ...
4     178  ...  Admission Date:  [**2162-3-3**]              D...

[5 rows x 11 columns]

## Lab variables prep.

In [ ]:
# Load lab items dictionary.
labitems = pd.read_csv('D_LABITEMS.csv', header = 0)
print(labitems.shape)
labitems.head()

(753, 6)

   ROW_ID  ITEMID  ...    CATEGORY LOINC_CODE
0     546   51346  ...  Hematology    26447-3
1     547   51347  ...  Hematology    26451-5
2     548   51348  ...  Hematology    30398-2
3     549   51349  ...  Hematology    26506-6
4     550   51350  ...  Hematology        NaN

[5 rows x 6 columns]

In [ ]:
# Lab variable IDs.
wbc_id = ['51300','51533','51301']
hct_id = ['51221']
plt_id = ['51265']
cr_id = ['50912']
lac_id = ['50813'] #blood gas
dbili_id = ['50883']
ibili_id = ['50884']
tbili_id = ['50885']
inr_id = ['51237']

labitems[labitems['LABEL'].str.contains('GCS', na = False)]

Empty DataFrame
Columns: [ROW_ID, ITEMID, LABEL, FLUID, CATEGORY, LOINC_CODE]
Index: []

In [ ]:
# Load lab events.
labs = pd.read_csv('LABEVENTS.csv', header = 0)
print(labs.shape)
labs.head()

(27854055, 9)

   ROW_ID  SUBJECT_ID  HADM_ID  ITEMID  ... VALUE VALUENUM  VALUEUOM      FLAG
0     281           3      NaN   50820  ...  7.39     7.39     units       NaN
1     282           3      NaN   50800  ...   ART      NaN       NaN       NaN
2     283           3      NaN   50802  ...    -1    -1.00     mEq/L       NaN
3     284           3      NaN   50804  ...    22    22.00     mEq/L       NaN
4     285           3      NaN   50808  ...  0.93     0.93    mmol/L  abnormal

[5 rows x 9 columns]

In [ ]:
# Get variables from labs.
wbc = labs.loc[np.where(labs['ITEMID'].isin(wbc_id) & labs['HADM_ID'].isin(cohort['HADM_ID']) == True)[0]]
wbc = wbc[['SUBJECT_ID', 'HADM_ID', 'CHARTTIME', 'VALUENUM']]
wbc.columns = ['SUBJECT_ID', 'HADM_ID', 'wbc_time', 'wbc']

hct = labs.loc[np.where(labs['ITEMID'].isin(hct_id) & labs['HADM_ID'].isin(cohort['HADM_ID'])== True)[0]]
hct = hct[['SUBJECT_ID', 'HADM_ID', 'CHARTTIME', 'VALUENUM']]
hct.columns = ['SUBJECT_ID', 'HADM_ID', 'hct_time', 'hct']

plt = labs.loc[np.where(labs['ITEMID'].isin(plt_id) & labs['HADM_ID'].isin(cohort['HADM_ID'])== True)[0]]
plt = plt[['SUBJECT_ID', 'HADM_ID', 'CHARTTIME', 'VALUENUM']]
plt.columns = ['SUBJECT_ID', 'HADM_ID', 'plt_time', 'plt']

cr = labs.loc[np.where(labs['ITEMID'].isin(cr_id) & labs['HADM_ID'].isin(cohort['HADM_ID'])== True)[0]]
cr = cr[['SUBJECT_ID', 'HADM_ID', 'CHARTTIME', 'VALUENUM']]
cr.columns = ['SUBJECT_ID', 'HADM_ID', 'cr_time', 'cr']

lac = labs.loc[np.where(labs['ITEMID'].isin(lac_id) & labs['HADM_ID'].isin(cohort['HADM_ID'])== True)[0]]
lac = lac[['SUBJECT_ID', 'HADM_ID', 'CHARTTIME', 'VALUENUM']]
lac.columns = ['SUBJECT_ID', 'HADM_ID', 'lac_time', 'lac']

#biliD = labs[labs['ITEMID'] == biliD_id]
#biliI = labs[labs['ITEMID'] == biliI_id]
tbili = labs.loc[np.where(labs['ITEMID'].isin(tbili_id) & labs['HADM_ID'].isin(cohort['HADM_ID'])== True)[0]]
tbili = tbili[['SUBJECT_ID', 'HADM_ID', 'CHARTTIME', 'VALUENUM']]
tbili.columns = ['SUBJECT_ID', 'HADM_ID', 'tbili_time', 'tbili']

inr = labs.loc[np.where(labs['ITEMID'].isin(inr_id) & labs['HADM_ID'].isin(cohort['HADM_ID'])== True)[0]]
inr = inr[['SUBJECT_ID', 'HADM_ID', 'CHARTTIME', 'VALUENUM']]
inr.columns = ['SUBJECT_ID', 'HADM_ID', 'inr_time', 'inr']

print(wbc.shape, hct.shape, plt.shape, cr.shape, lac.shape, tbili.shape, inr.shape)

(95214, 4) (110847, 4) (98654, 4) (109363, 4) (42592, 4) (31460, 4) (64873, 4)

In [ ]:
### Write results to csv file.
# name of csv file 
#filename = "wbc.csv"
    
# writing to csv file 
#with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    #csvwriter = csv.writer(csvfile) 
        
    # writing the header
    #csvwriter.writerow(wbc.columns) 
        
    # writing the data rows 
    #for i in range(wbc.shape[0]):
      #csvwriter.writerow(wbc.iloc[i])

## Lab variables processing.

In [ ]:
#wbc = pd.read_csv('wbc.csv', header = 0)
#hct = pd.read_csv('hct.csv', header = 0)
#plt = pd.read_csv('plt.csv', header = 0)
#cr = pd.read_csv('cr.csv', header = 0)
#lac = pd.read_csv('lac.csv', header = 0)
#bili = pd.read_csv('bili.csv', header = 0)
#inr = pd.read_csv('inr.csv', header = 0)

In [ ]:
### Last WBC.
cohort_labs = pd.merge(cohort, wbc, how = 'left', on = ['SUBJECT_ID', 'HADM_ID'])
cohort_labs = cohort_labs.sort_values(['HADM_ID', 'wbc_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

cohort_labs['wbc_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(cohort_labs.shape[0]):
  time_cutoff = cohort_labs.loc[i]['OUTTIME'] 
  lab_time = cohort_labs.loc[i]['wbc_time']
  if time_cutoff < lab_time:
    if cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i-1]['HADM_ID'] & cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  cohort_labs.loc[change_val[i],['wbc']] = 'NaN'

cohort_labs = cohort_labs.drop(drop)
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])

cohort_labs = cohort_labs.sort_values(['HADM_ID','wbc_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

keep = []
for i in range(cohort_labs.shape[0]-1):
  if cohort_labs.loc[i]['HADM_ID'] == cohort_labs.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(cohort_labs.shape[0]-1)

cohort_labs = cohort_labs.iloc[keep]
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])
#cohort_labs.head()

71804
5043

In [ ]:
### Last Hct.
cohort_labs = pd.merge(cohort_labs, hct, how = 'left', on = ['SUBJECT_ID', 'HADM_ID'])
cohort_labs = cohort_labs.sort_values(['HADM_ID', 'hct_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

cohort_labs['hct_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(cohort_labs.shape[0]):
  time_cutoff = cohort_labs.loc[i]['OUTTIME'] 
  lab_time = cohort_labs.loc[i]['hct_time']
  if time_cutoff < lab_time:
    if cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i-1]['HADM_ID'] & cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  cohort_labs.loc[change_val[i],['hct']] = 'NaN'

cohort_labs = cohort_labs.drop(drop)
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])

cohort_labs = cohort_labs.sort_values(['HADM_ID','hct_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

keep = []
for i in range(cohort_labs.shape[0]-1):
  if cohort_labs.loc[i]['HADM_ID'] == cohort_labs.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(cohort_labs.shape[0]-1)

cohort_labs = cohort_labs.iloc[keep]
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])
#cohort_labs.head()

84983
5043

In [ ]:
### Last plt.
cohort_labs = pd.merge(cohort_labs, plt, how = 'left', on = ['SUBJECT_ID', 'HADM_ID'])
cohort_labs = cohort_labs.sort_values(['HADM_ID', 'plt_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

cohort_labs['plt_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(cohort_labs.shape[0]):
  time_cutoff = cohort_labs.loc[i]['OUTTIME'] 
  lab_time = cohort_labs.loc[i]['plt_time']
  if time_cutoff < lab_time:
    if cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i-1]['HADM_ID'] & cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  cohort_labs.loc[change_val[i],['plt']] = 'NaN'

cohort_labs = cohort_labs.drop(drop)
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])

cohort_labs = cohort_labs.sort_values(['HADM_ID','plt_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

keep = []
for i in range(cohort_labs.shape[0]-1):
  if cohort_labs.loc[i]['HADM_ID'] == cohort_labs.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(cohort_labs.shape[0]-1)

cohort_labs = cohort_labs.iloc[keep]
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])
#cohort_labs.head()

74630
5043

In [ ]:
### Last Cr.
cohort_labs = pd.merge(cohort_labs, cr, how = 'left', on = ['SUBJECT_ID', 'HADM_ID'])
cohort_labs = cohort_labs.sort_values(['HADM_ID', 'cr_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

cohort_labs['cr_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(cohort_labs.shape[0]):
  time_cutoff = cohort_labs.loc[i]['OUTTIME'] 
  lab_time = cohort_labs.loc[i]['cr_time']
  if time_cutoff < lab_time:
    if cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i-1]['HADM_ID'] & cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  cohort_labs.loc[change_val[i],['cr']] = 'NaN'

cohort_labs = cohort_labs.drop(drop)
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])

cohort_labs = cohort_labs.sort_values(['HADM_ID','cr_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

keep = []
for i in range(cohort_labs.shape[0]-1):
  if cohort_labs.loc[i]['HADM_ID'] == cohort_labs.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(cohort_labs.shape[0]-1)

cohort_labs = cohort_labs.iloc[keep]
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])
#cohort_labs.head()

84049
5043

In [ ]:
### Last lactate.
cohort_labs = pd.merge(cohort_labs, lac, how = 'left', on = ['SUBJECT_ID', 'HADM_ID'])
cohort_labs = cohort_labs.sort_values(['HADM_ID', 'lac_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

cohort_labs['lac_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(cohort_labs.shape[0]):
  time_cutoff = cohort_labs.loc[i]['OUTTIME'] 
  lab_time = cohort_labs.loc[i]['lac_time']
  if time_cutoff < lab_time:
    if cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i-1]['HADM_ID'] & cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  cohort_labs.loc[change_val[i],['lac']] = 'NaN'

cohort_labs = cohort_labs.drop(drop)
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])

cohort_labs = cohort_labs.sort_values(['HADM_ID','lac_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

keep = []
for i in range(cohort_labs.shape[0]-1):
  if cohort_labs.loc[i]['HADM_ID'] == cohort_labs.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(cohort_labs.shape[0]-1)

cohort_labs = cohort_labs.iloc[keep]
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])

39846
5043

In [ ]:
### Last total bilirubin.
cohort_labs = pd.merge(cohort_labs, tbili, how = 'left', on = ['SUBJECT_ID', 'HADM_ID'])
cohort_labs = cohort_labs.sort_values(['HADM_ID', 'tbili_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

cohort_labs['tbili_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(cohort_labs.shape[0]):
  time_cutoff = cohort_labs.loc[i]['OUTTIME'] 
  lab_time = cohort_labs.loc[i]['tbili_time']
  if time_cutoff < lab_time:
    if cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i-1]['HADM_ID'] & cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  cohort_labs.loc[change_val[i],['tbili']] = 'NaN'

cohort_labs = cohort_labs.drop(drop)
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])

cohort_labs = cohort_labs.sort_values(['HADM_ID','tbili_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

keep = []
for i in range(cohort_labs.shape[0]-1):
  if cohort_labs.loc[i]['HADM_ID'] == cohort_labs.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(cohort_labs.shape[0]-1)

cohort_labs = cohort_labs.iloc[keep]
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])
#cohort_labs.head()

25182
5043

In [ ]:
### Last INR.
cohort_labs = pd.merge(cohort_labs, inr, how = 'left', on = ['SUBJECT_ID', 'HADM_ID'])
cohort_labs = cohort_labs.sort_values(['HADM_ID', 'inr_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

cohort_labs['inr_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(cohort_labs.shape[0]):
  time_cutoff = cohort_labs.loc[i]['OUTTIME'] 
  lab_time = cohort_labs.loc[i]['inr_time']
  if time_cutoff < lab_time:
    if cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i-1]['HADM_ID'] & cohort_labs.loc[i]['HADM_ID'] != cohort_labs.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  cohort_labs.loc[change_val[i],['inr']] = 'NaN'

cohort_labs = cohort_labs.drop(drop)
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])

cohort_labs = cohort_labs.sort_values(['HADM_ID','inr_time'])
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

keep = []
for i in range(cohort_labs.shape[0]-1):
  if cohort_labs.loc[i]['HADM_ID'] == cohort_labs.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(cohort_labs.shape[0]-1)

cohort_labs = cohort_labs.iloc[keep]
cohort_labs = cohort_labs.reset_index()
del cohort_labs['index']

print(cohort_labs.shape[0])
#cohort_labs.head()

51662
5043

## (RUN ONCE) MAP, PaO2, FiO2, SpO2, HR, temp, GCS, RASS, vent type csv prep.

In [ ]:
### Examine other csv files for data curation.
items = pd.read_csv('D_ITEMS.csv', header = 0)
print(items.shape)
items.head()

(12487, 10)

   ROW_ID  ITEMID  ... PARAM_TYPE CONCEPTID
0     457     497  ...        NaN       NaN
1     458     498  ...        NaN       NaN
2     459     499  ...        NaN       NaN
3     460     500  ...        NaN       NaN
4     461     501  ...        NaN       NaN

[5 rows x 10 columns]

In [ ]:
### Search for variable ITEMID codes.
paco2_id = ['778'] #ABG
sao2_id = ['834'] #ABG
ph_abg_id = ['780'] #ABG
hco3_abg_id = ['812'] #ABG

pvco2_id = ['3830'] #VBG
pvo2_id = ['3831'] #VBG

#fio2_id = [2981,3420,7018,7041,227009,227010,226754,223835]

pao2_id = [779,220224] #ABG
fio2_id = [3420,223835]
hr_id = [211,220045]
spo2_id = [646,220277]
vent_type_id = [722,223849]
gcs = [198,220739,223900,223901]


temp_id = [678,223761]
rass_id = [228302, 228096]
map_id = [438, 672, 3067, 5680, 5804, 2309, 2353, 2544, 2770, 2974,6399, 6579, 6605, 227023]


items[items['LABEL'].str.contains('MAP', na = False)]
#items[items['ITEMID'] == 220227]
#items.head()

#item_vent_searchgrid = ['1736', '1738', '1976','1990','5874','1487','1577','1659','1697','2034','2124','6115','6130','6185','225411'] #Item IDs for invasive mechanical ventilation.

In [ ]:
### Cycle through chartevents.
chartevents = pd.read_csv('/content/drive/MyDrive/BMI212/chartevents/CHARTEVENTS_15.csv', header = 0)
print(chartevents.shape)
#chartevents.head()

(19999999, 15)

In [ ]:
temp_cohort = chartevents.loc[np.where(chartevents['HADM_ID'].isin(cohort['HADM_ID']) == True)[0]]
print(temp_cohort.shape[0], temp_cohort['SUBJECT_ID'].nunique())
#temp_cohort.head()
#wbc = wbc[['SUBJECT_ID', 'HADM_ID', 'CHARTTIME', 'VALUENUM']]
#wbc.columns = ['SUBJECT_ID', 'HADM_ID', 'wbc_time', 'wbc']

5829878 675

In [ ]:
# Get variables: HR, SpO2, PaO2, FiO2
#searchgrid = np.concatenate((hr_id, spo2_id, pao2_id, fio2_id))
#searchgrid = map(int, searchgrid)
pao2_id = [779,220224] #ABG
fio2_id = [3420,223835]
spo2_id = [646,220277]
hr_id = [211,220045]

gcs_id = [198,220739,223900,223901]
vent_type_id = [722,223849]

temp_id = [678,223761]
rass_id = [228302,228096]
map_id = [438,672,3067,5680,5804,2309,2353,2544,2770,2974,6399, 6579,6605,227023]

temp_chartevents = temp_cohort.iloc[np.where(temp_cohort['ITEMID'].isin(temp_id) == True)[0]]
#items[items['LABEL'].str.contains('lac', na = False) & items['DBSOURCE'].str.contains('metavision', na=False)]

print(temp_chartevents.shape[0], temp_chartevents['SUBJECT_ID'].nunique())
#temp_chartevents['VALUE'].value_counts()
#temp_chartevents.head()

# REMOVE (containing CPAP): CPAP/PSV, Standby, CPAP/PSV+ApnVol, CPAP/PPS, CPAP, 
# count intubation days via unique charttime days

0 0

In [ ]:
### Write results to csv file.
# name of csv file 
filename = "rass15.csv"
    
# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the header
    csvwriter.writerow(temp_chartevents.columns) 
        
    # writing the data rows 
    for i in range(temp_chartevents.shape[0]):
      csvwriter.writerow(temp_chartevents.iloc[i])

## ABG, VS, clinical scores.

In [ ]:
### FiO2.
fio20 = pd.read_csv('fio20.csv', header = 0)
fio21 = pd.read_csv('fio21.csv', header = 0)
fio26 = pd.read_csv('fio26.csv', header = 0)

fio2 = pd.concat([fio20,fio21,fio26])
fio2 = fio2[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUENUM']]
fio2.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','fio2_time', 'fio2']
print(fio2.shape)
fio2.head()

(197153, 5)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID            fio2_time  fio2
0         188   123860    213646.0  2160-12-31 14:00:00  40.0
1         188   123860    213646.0  2160-12-31 16:00:00  40.0
2         188   123860    213646.0  2161-01-02 08:00:00  40.0
3         188   123860    213646.0  2161-01-02 10:30:00  35.0
4         188   123860    213646.0  2160-12-31 20:00:00  40.0

In [ ]:
### Get last FiO2. 
features = pd.merge(cohort_labs, fio2, how = 'left', on = ['SUBJECT_ID', 'HADM_ID','ICUSTAY_ID'])
features = features.sort_values(['HADM_ID', 'fio2_time'])
features = features.reset_index()
del features['index']

features['fio2_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(features.shape[0]):
  time_cutoff = features.loc[i]['OUTTIME'] 
  var_time = features.loc[i]['fio2_time']
  if time_cutoff < var_time:
    if features.loc[i]['HADM_ID'] != features.loc[i-1]['HADM_ID'] & features.loc[i]['HADM_ID'] != features.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  features.loc[change_val[i],['fio2']] = 'NaN'

features = features.drop(drop)
features = features.reset_index()
del features['index']

print(features.shape[0])

features = features.sort_values(['HADM_ID','fio2_time'])
features = features.reset_index()
del features['index']

keep = []
for i in range(features.shape[0]-1):
  if features.loc[i]['HADM_ID'] == features.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(features.shape[0]-1)

features = features.iloc[keep]
features = features.reset_index()
del features['index']

print(features.shape[0])

160367
5043

In [ ]:
### PaO2
pao20 = pd.read_csv('pao20.csv', header = 0)
pao21 = pd.read_csv('pao21.csv', header = 0)
pao22 = pd.read_csv('pao22.csv', header = 0)
pao23 = pd.read_csv('pao23.csv', header = 0)
pao24 = pd.read_csv('pao24.csv', header = 0)
pao25 = pd.read_csv('pao25.csv', header = 0)
pao26 = pd.read_csv('pao26.csv', header = 0)
pao27 = pd.read_csv('pao27.csv', header = 0)
pao28 = pd.read_csv('pao28.csv', header = 0)
pao29 = pd.read_csv('pao29.csv', header = 0)

pao2 = pd.concat([pao20,pao21,pao22,pao23,pao24,pao25,pao26,pao27,pao28,pao29])
pao2 = pao2[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUENUM']]
pao2.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','pao2_time', 'pao2']
print(pao2.shape)
pao2.head()

(112749, 5)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID            pao2_time   pao2
0         188   123860    213646.0  2160-12-31 13:15:00  173.0
1         188   123860    213646.0  2161-01-01 04:00:00  144.0
2         502   116367    209737.0  2143-10-24 11:20:00  100.0
3         502   116367    209737.0  2143-10-24 04:28:00  110.0
4         502   116367    209737.0  2143-10-24 05:49:00   95.0

In [ ]:
### Get last PaO2. 
features = pd.merge(features, pao2, how = 'left', on = ['SUBJECT_ID', 'HADM_ID','ICUSTAY_ID'])
features = features.sort_values(['HADM_ID', 'pao2_time'])
features = features.reset_index()
del features['index']

features['pao2_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(features.shape[0]):
  time_cutoff = features.loc[i]['OUTTIME'] 
  var_time = features.loc[i]['pao2_time']
  if time_cutoff < var_time:
    if features.loc[i]['HADM_ID'] != features.loc[i-1]['HADM_ID'] & features.loc[i]['HADM_ID'] != features.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  features.loc[change_val[i],['pao2']] = 'NaN'

features = features.drop(drop)
features = features.reset_index()
del features['index']

print(features.shape[0])

features = features.sort_values(['HADM_ID','pao2_time'])
features = features.reset_index()
del features['index']

keep = []
for i in range(features.shape[0]-1):
  if features.loc[i]['HADM_ID'] == features.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(features.shape[0]-1)

features = features.iloc[keep]
features = features.reset_index()
del features['index']

print(features.shape[0])

104302
5043

In [ ]:
### Get last PaO2/FiO2.
features['pafio2'] = features['pao2']/features['fio2']
features.head()

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ...            pao2_time   pao2    pafio2
0       68591   100016      217590  ...  2188-05-24 18:24:00   86.0  2.150000
1       48539   100035      245719  ...  2115-02-28 04:56:00   95.0  1.357143
2       69282   100063      241782  ...  2181-04-21 01:35:00  365.0  7.300000
3       42255   100087      294404  ...  2126-11-03 05:12:00  143.0  4.766667
4       19984   100132      229201  ...  2179-03-07 15:41:00   97.0       NaN

[5 rows x 57 columns]

In [ ]:
hr1 = pd.read_csv('hr1.csv', header=0)
hr2 = pd.read_csv('hr2.csv', header=0)
hr3 = pd.read_csv('hr3.csv', header=0)
hr4 = pd.read_csv('hr4.csv', header=0)
hr5 = pd.read_csv('hr5.csv', header=0)
hr6 = pd.read_csv('hr6.csv', header=0)
hr7 = pd.read_csv('hr7.csv', header=0)
hr8 = pd.read_csv('hr8.csv', header=0)
hr9 = pd.read_csv('hr9.csv', header=0)

hr = pd.concat([hr1, hr2, hr3, hr4, hr5, hr6, hr7, hr8, hr9])
hr = hr[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUENUM']]
hr.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','hr_time', 'hr']
print(hr.shape)
hr.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1099361, 5)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID              hr_time     hr
0       68564   101945    209221.0  2119-08-18 14:00:00  100.0
1       68564   101945    209221.0  2119-08-18 15:00:00   95.0
2       68564   101945    209221.0  2119-08-18 16:00:00   92.0
3       68564   101945    209221.0  2119-08-18 17:00:00   89.0
4       68564   101945    209221.0  2119-08-18 18:00:00   92.0

In [ ]:
### Get last HR. 
features = pd.merge(features, hr, how = 'left', on = ['SUBJECT_ID', 'HADM_ID','ICUSTAY_ID'])
features = features.sort_values(['HADM_ID', 'hr_time'])
features = features.reset_index()
del features['index']

features['hr_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(features.shape[0]):
  time_cutoff = features.loc[i]['OUTTIME'] 
  var_time = features.loc[i]['hr_time']
  if time_cutoff < var_time:
    if features.loc[i]['HADM_ID'] != features.loc[i-1]['HADM_ID'] & features.loc[i]['HADM_ID'] != features.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  features.loc[change_val[i],['hr']] = 'NaN'

features = features.drop(drop)
features = features.reset_index()
del features['index']

print(features.shape[0])

features = features.sort_values(['HADM_ID','hr_time'])
features = features.reset_index()
del features['index']

keep = []
for i in range(features.shape[0]-1):
  if features.loc[i]['HADM_ID'] == features.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(features.shape[0]-1)

features = features.iloc[keep]
features = features.reset_index()
del features['index']

print(features.shape[0])

981903
5043

In [ ]:
### Temp
temp0 = pd.read_csv('temp0.csv', header=0)
temp1 = pd.read_csv('temp1.csv', header=0)
temp2 = pd.read_csv('temp2.csv', header=0)
temp3 = pd.read_csv('temp3.csv', header=0)
temp4 = pd.read_csv('temp4.csv', header=0)
temp5 = pd.read_csv('temp5.csv', header=0)
temp6 = pd.read_csv('temp6.csv', header=0)
temp7 = pd.read_csv('temp7.csv', header=0)
temp8 = pd.read_csv('temp8.csv', header=0)
temp9 = pd.read_csv('temp9.csv', header=0)

temp = pd.concat([temp0, temp1, temp2, temp3, temp4, temp5, temp6, temp7, temp8, temp9])
temp = temp[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUENUM']]
temp.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','temp_time', 'temp']
print(temp.shape)
temp.head()

(324006, 5)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID            temp_time  temp
0         188   123860    213646.0  2161-01-02 08:00:00  96.0
1         188   123860    213646.0  2160-12-31 18:00:00  97.5
2         188   123860    213646.0  2160-12-31 20:00:00  98.6
3         188   123860    213646.0  2161-01-02 12:00:00  96.7
4         188   123860    213646.0  2161-01-02 16:00:00  96.7

In [ ]:
### Get last temp. 
features = pd.merge(features, temp, how = 'left', on = ['SUBJECT_ID', 'HADM_ID','ICUSTAY_ID'])
features = features.sort_values(['HADM_ID', 'temp_time'])
features = features.reset_index()
del features['index']

features['temp_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(features.shape[0]):
  time_cutoff = features.loc[i]['OUTTIME'] 
  var_time = features.loc[i]['temp_time']
  if time_cutoff < var_time:
    if features.loc[i]['HADM_ID'] != features.loc[i-1]['HADM_ID'] & features.loc[i]['HADM_ID'] != features.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  features.loc[change_val[i],['temp']] = 'NaN'

features = features.drop(drop)
features = features.reset_index()
del features['index']

print(features.shape[0])

features = features.sort_values(['HADM_ID','temp_time'])
features = features.reset_index()
del features['index']

keep = []
for i in range(features.shape[0]-1):
  if features.loc[i]['HADM_ID'] == features.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(features.shape[0]-1)

features = features.iloc[keep]
features = features.reset_index()
del features['index']

print(features.shape[0])

297258
5043

In [ ]:
### SpO2
spo20 = pd.read_csv('spo20.csv', header = 0)
spo21 = pd.read_csv('spo21.csv', header = 0)
spo22 = pd.read_csv('spo22.csv', header = 0)
spo23 = pd.read_csv('spo23.csv', header = 0)
spo24 = pd.read_csv('spo24.csv', header = 0)
spo25 = pd.read_csv('spo25.csv', header = 0)
spo26 = pd.read_csv('spo26.csv', header = 0)
spo27 = pd.read_csv('spo27.csv', header = 0)
spo28 = pd.read_csv('spo28.csv', header = 0)
spo29 = pd.read_csv('spo29.csv', header = 0)

spo2 = pd.concat([spo20,spo21,spo22,spo23,spo24,spo25,spo26,spo27,spo28,spo29])
spo2 = spo2[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUENUM']]
spo2.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','spo2_time', 'spo2']
print(spo2.shape)
spo2.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1450859, 5)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID            spo2_time   spo2
0         188   123860    213646.0  2161-01-02 07:00:00  100.0
1         188   123860    213646.0  2160-12-31 13:44:00  100.0
2         188   123860    213646.0  2160-12-31 14:00:00  100.0
3         188   123860    213646.0  2160-12-31 15:00:00  100.0
4         188   123860    213646.0  2160-12-31 16:00:00  100.0

In [ ]:
### Get last SpO2. 
features = pd.merge(features, spo2, how = 'left', on = ['SUBJECT_ID', 'HADM_ID','ICUSTAY_ID'])
features = features.sort_values(['HADM_ID', 'spo2_time'])
features = features.reset_index()
del features['index']

features['spo2_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(features.shape[0]):
  time_cutoff = features.loc[i]['OUTTIME'] 
  var_time = features.loc[i]['spo2_time']
  if time_cutoff < var_time:
    if features.loc[i]['HADM_ID'] != features.loc[i-1]['HADM_ID'] & features.loc[i]['HADM_ID'] != features.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  features.loc[change_val[i],['spo2']] = 'NaN'

features = features.drop(drop)
features = features.reset_index()
del features['index']

print(features.shape[0])

features = features.sort_values(['HADM_ID','spo2_time'])
features = features.reset_index()
del features['index']

keep = []
for i in range(features.shape[0]-1):
  if features.loc[i]['HADM_ID'] == features.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(features.shape[0]-1)

features = features.iloc[keep]
features = features.reset_index()
del features['index']

print(features.shape[0])

1306378
5043

In [ ]:
### MAP.
map1 = pd.read_csv('map1.csv', header=0)
map2 = pd.read_csv('map2.csv', header=0)
map3 = pd.read_csv('map3.csv', header=0)
map4 = pd.read_csv('map4.csv', header=0)
map5 = pd.read_csv('map5.csv', header=0)
map6 = pd.read_csv('map6.csv', header=0)
map7 = pd.read_csv('map7.csv', header=0)
map8 = pd.read_csv('map8.csv', header=0)
map9 = pd.read_csv('map9.csv', header=0)

map = pd.concat([map1, map2, map3, map4, map5, map6, map7, map8, map9])
map = map[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUENUM']]
map.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','map_time', 'map']
print(map.shape)
map.head()

(3351, 5)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID             map_time    map
0       78076   138363    257336.0  2113-07-04 15:57:00  122.0
1       82326   127147    263318.0  2105-12-27 19:31:00   55.0
2         286   106909    260225.0  2176-02-23 04:00:00   13.0
3         286   106909    260225.0  2176-01-12 04:00:00   12.0
4         286   106909    260225.0  2176-01-17 07:35:00   12.0

In [ ]:
### Get last MAP. 
features = pd.merge(features, map, how = 'left', on = ['SUBJECT_ID', 'HADM_ID','ICUSTAY_ID'])
features = features.sort_values(['HADM_ID', 'map_time'])
features = features.reset_index()
del features['index']

features['map_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(features.shape[0]):
  time_cutoff = features.loc[i]['OUTTIME'] 
  var_time = features.loc[i]['map_time']
  if time_cutoff < var_time:
    if features.loc[i]['HADM_ID'] != features.loc[i-1]['HADM_ID'] & features.loc[i]['HADM_ID'] != features.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  features.loc[change_val[i],['map']] = 'NaN'

features = features.drop(drop)
features = features.reset_index()
del features['index']

print(features.shape[0])

features = features.sort_values(['HADM_ID','map_time'])
features = features.reset_index()
del features['index']

keep = []
for i in range(features.shape[0]-1):
  if features.loc[i]['HADM_ID'] == features.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(features.shape[0]-1)

features = features.iloc[keep]
features = features.reset_index()
del features['index']

print(features.shape[0])

8021
5043

In [ ]:
### RASS.
rass13 = pd.read_csv('rass13.csv', header=0)
rass14 = pd.read_csv('rass14.csv', header=0)
rass15 = pd.read_csv('rass15.csv', header=0)

rass = pd.concat([rass13, rass14, rass15])
rass = rass[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUENUM']]
rass.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','rass_time', 'rass']
print(rass.shape)
rass.head()

(53051, 5)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID            rass_time  rass
0         878   102365    239862.0  2137-10-30 20:00:00   0.0
1         878   102365    239862.0  2137-10-31 00:00:00   0.0
2         878   102365    239862.0  2137-10-29 19:38:00   0.0
3         878   102365    239862.0  2137-10-28 10:00:00  -1.0
4         878   102365    239862.0  2137-10-28 12:00:00   1.0

In [ ]:
### Get last RASS. 
features = pd.merge(features, rass, how = 'left', on = ['SUBJECT_ID', 'HADM_ID','ICUSTAY_ID'])
features = features.sort_values(['HADM_ID', 'rass_time'])
features = features.reset_index()
del features['index']

features['rass_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(features.shape[0]):
  time_cutoff = features.loc[i]['OUTTIME'] 
  var_time = features.loc[i]['rass_time']
  if time_cutoff < var_time:
    if features.loc[i]['HADM_ID'] != features.loc[i-1]['HADM_ID'] & features.loc[i]['HADM_ID'] != features.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  features.loc[change_val[i],['rass']] = 'NaN'

features = features.drop(drop)
features = features.reset_index()
del features['index']

print(features.shape[0])

features = features.sort_values(['HADM_ID','rass_time'])
features = features.reset_index()
del features['index']

keep = []
for i in range(features.shape[0]-1):
  if features.loc[i]['HADM_ID'] == features.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(features.shape[0]-1)

features = features.iloc[keep]
features = features.reset_index()
del features['index']

print(features.shape[0])

52464
5043

In [ ]:
### GCS.
gcs1 = pd.read_csv('gcs1.csv', header=0)
gcs2 = pd.read_csv('gcs2.csv', header=0)
gcs3 = pd.read_csv('gcs3.csv', header=0)
gcs4 = pd.read_csv('gcs4.csv', header=0)
gcs5 = pd.read_csv('gcs5.csv', header=0)
gcs6 = pd.read_csv('gcs6.csv', header=0)
gcs7 = pd.read_csv('gcs7.csv', header=0)
gcs8 = pd.read_csv('gcs8.csv', header=0)
gcs9 = pd.read_csv('gcs9.csv', header=0)
gcs13 = pd.read_csv('gcs13.csv', header=0)
gcs14 = pd.read_csv('gcs14.csv', header=0)
gcs15 = pd.read_csv('gcs15.csv', header=0)

gcs = pd.concat([gcs1, gcs2, gcs3, gcs4, gcs5, gcs6, gcs7, gcs8, gcs9, gcs13, gcs14, gcs15])
gcs = gcs[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID','CHARTTIME', 'VALUENUM']]
gcs.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','gcs_id','gcs_time', 'gcs']
print(gcs.shape)
gcs.head()

(546751, 6)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  gcs_id             gcs_time   gcs
0         157   107880    264885.0     198  2106-06-20 07:00:00  11.0
1         156   168847    260696.0     198  2120-05-27 19:00:00  10.0
2         156   168847    260696.0     198  2120-05-28 23:00:00  10.0
3         156   168847    260696.0     198  2120-05-30 03:00:00  10.0
4         156   168847    260696.0     198  2120-05-31 02:00:00  15.0

In [ ]:
### DELETE, was used to check groupby sum was correct.
gcs_meta_id = [220739,223900,223901]
gcs_meta = gcs.iloc[np.where(gcs['gcs_id'].isin(gcs_meta_id) == True)[0]]
gcs_meta.head()

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  gcs_id             gcs_time  gcs
0        1860   195382    272392.0  220739  2141-07-17 08:00:00  4.0
1        1860   195382    272392.0  223900  2141-07-17 08:00:00  5.0
2        1860   195382    272392.0  223901  2141-07-17 08:00:00  6.0
3        1860   195382    272392.0  220739  2141-07-17 12:00:00  3.0
4        1860   195382    272392.0  223900  2141-07-17 12:00:00  1.0

In [ ]:
### Get Metavision GCS.
gcs = gcs.groupby(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'gcs_time'], sort = False)['gcs'].sum()
gcs = gcs.reset_index()
gcs.head()
#gcs['gcs'].value_counts()
#gcs_meta_id = [220739,223900,223901]
#gcs_meta = gcs.iloc[np.where(gcs['gcs_id'].isin(gcs_meta_id) == True)[0]]
#gcs_meta.head()

#gcs[gcs['ICUSTAY_ID'] == 272392]

   SUBJECT_ID  HADM_ID  ICUSTAY_ID             gcs_time   gcs
0         157   107880    264885.0  2106-06-20 07:00:00  11.0
1         156   168847    260696.0  2120-05-27 19:00:00  10.0
2         156   168847    260696.0  2120-05-28 23:00:00  10.0
3         156   168847    260696.0  2120-05-30 03:00:00  10.0
4         156   168847    260696.0  2120-05-31 02:00:00  15.0

In [ ]:
### Get last GCS. 
features = pd.merge(features, gcs, how = 'left', on = ['SUBJECT_ID', 'HADM_ID','ICUSTAY_ID'])
features = features.sort_values(['HADM_ID', 'gcs_time'])
features = features.reset_index()
del features['index']

features['gcs_time'].fillna('0', inplace = True)

drop = []
change_val = []
for i in range(features.shape[0]):
  time_cutoff = features.loc[i]['OUTTIME'] 
  var_time = features.loc[i]['gcs_time']
  if time_cutoff < var_time:
    if features.loc[i]['HADM_ID'] != features.loc[i-1]['HADM_ID'] & features.loc[i]['HADM_ID'] != features.loc[i+1]['HADM_ID']:
      change_val.append(i)
    else: 
      drop.append(i)
  else:
    continue 

for i in range(len(change_val)):
  features.loc[change_val[i],['gcs']] = 'NaN'

features = features.drop(drop)
features = features.reset_index()
del features['index']

print(features.shape[0])

features = features.sort_values(['HADM_ID','gcs_time'])
features = features.reset_index()
del features['index']

keep = []
for i in range(features.shape[0]-1):
  if features.loc[i]['HADM_ID'] == features.loc[i+1]['HADM_ID']:
    continue
  else: 
    keep.append(i)

keep.append(features.shape[0]-1)

features = features.iloc[keep]
features = features.reset_index()
del features['index']

print(features.shape[0])

286792
5043

## Intubation variables.

In [ ]:
### Vent type
vent1 = pd.read_csv('vent1.csv', header=0)
vent2 = pd.read_csv('vent2.csv', header=0)
vent3 = pd.read_csv('vent3.csv', header=0)
vent4 = pd.read_csv('vent4.csv', header=0)
vent5 = pd.read_csv('vent5.csv', header=0)
vent6 = pd.read_csv('vent6.csv', header=0)
vent7 = pd.read_csv('vent7.csv', header=0)
vent8 = pd.read_csv('vent8.csv', header=0)
vent9 = pd.read_csv('vent9.csv', header=0)
vent13 = pd.read_csv('vent13.csv', header=0)
vent14 = pd.read_csv('vent14.csv', header=0)
vent15 = pd.read_csv('vent15.csv', header=0)

vent = pd.concat([vent1,vent2,vent3,vent4,vent5,vent6,vent7,vent8,vent9,vent13,vent14,vent15])
vent = vent[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME']]
vent.columns = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID','vent_time']
print(vent.shape)
vent.head()

(245833, 4)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID            vent_time
0         157   107880    264885.0  2106-06-20 04:00:00
1         156   168847    260696.0  2120-05-26 15:00:00
2         157   107880    264885.0  2106-06-21 11:00:00
3         156   168847    260696.0  2120-05-28 22:35:00
4         156   168847    260696.0  2120-05-31 03:00:00

In [ ]:
### Get days intubated and hours between extubation and transfer.

# Remove NA vent values.
vent = vent[vent['vent_time'].isna() == False]

# Change vent charttime to yyyy-mm-dd in vent_day col.
from datetime import datetime
vent_day = []
for i in range(vent.shape[0]):
  temp = datetime.strptime(vent.iloc[i]['vent_time'], '%Y-%m-%d %H:%M:%S').date()
  #print(temp)
  vent_day.append(temp)

vent['vent_day'] = vent_day

vent.head()

# Days intubated.
intub_days = vent.groupby('ICUSTAY_ID')['vent_day'].nunique()
intub_days = pd.DataFrame(intub_days)
intub_days = intub_days.reset_index()
intub_days.columns = ['ICUSTAY_ID', 'intub_days']

vent = pd.merge(vent, intub_days, how = 'left', on = ['ICUSTAY_ID'])
vent.head()

   SUBJECT_ID  HADM_ID  ICUSTAY_ID            vent_time    vent_day  intub_days
0         157   107880    264885.0  2106-06-20 04:00:00  2106-06-20         5.0
1         156   168847    260696.0  2120-05-26 15:00:00  2120-05-26         8.0
2         157   107880    264885.0  2106-06-21 11:00:00  2106-06-21         5.0
3         156   168847    260696.0  2120-05-28 22:35:00  2120-05-28         8.0
4         156   168847    260696.0  2120-05-31 03:00:00  2120-05-31         8.0

In [ ]:
# Combine with cohort info.
feat_vent = pd.merge(cohort, vent, how = 'left', on = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
feat_vent['vent_time'].fillna('0', inplace = True)

# Hours between extubation and transfer.
feat_vent = feat_vent.sort_values(['ICUSTAY_ID', 'vent_time'])
feat_vent = feat_vent.reset_index()
del feat_vent['index']

feat_vent = feat_vent[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'OUTTIME', 'vent_time','intub_days']]

### Write results to csv file.
# name of csv file 
filename = "extub_hrs.csv"
    
# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the header
    csvwriter.writerow(feat_vent.columns) 
        
    # writing the data rows 
    for i in range(feat_vent.shape[0]):
      csvwriter.writerow(feat_vent.iloc[i])

In [ ]:
# Combine with cohort info.
from datetime import datetime, date
feat_vent = pd.merge(cohort, vent, how = 'left', on = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
feat_vent['vent_time'].fillna('0', inplace = True)

# Hours between extubation and transfer.
feat_vent = feat_vent.sort_values(['ICUSTAY_ID', 'vent_time'])
feat_vent = feat_vent.reset_index()
del feat_vent['index']

# Get hour difference.
extub_hrs = []
icustay = []
seconds_per_hour = 60*60
for i in range(feat_vent.shape[0]-1):
  if feat_vent.iloc[i]['ICUSTAY_ID'] != feat_vent.iloc[i+1]['ICUSTAY_ID']:
    if feat_vent.iloc[i]['vent_time'] == '0':
      extub_hrs.append('NaN')
    else:
      transfer = datetime.strptime(feat_vent.iloc[i]['OUTTIME'],'%Y-%m-%d %H:%M:%S')
      #print(feat_vent.iloc[i]['OUTTIME'])
      #print(feat_vent.iloc[i]['vent_time'])
      extub = datetime.strptime(feat_vent.iloc[i]['vent_time'],'%Y-%m-%d %H:%M:%S')
      diff = transfer - extub
      #print(diff.total_seconds())
      #hrs = diff.days*24 + diff.seconds/seconds_per_hour
      hrs = diff.total_seconds()/seconds_per_hour
      #print(hrs)
      extub_hrs.append(hrs)
      icustay.append(feat_vent.iloc[i]['ICUSTAY_ID'])
    if i == feat_vent.shape[0]:
      if feat_vent.iloc[i]['vent_time'] == '0':
        extub_hrs.append('NaN')  
      else: 
        transfer = datetime.strptime(feat_vent.iloc[i]['OUTTIME'],'%Y-%m-%d %H:%M:%S')
        extub = datetime.strptime(feat_vent.iloc[i]['vent_time'],'%Y-%m-%d %H:%M:%S')
        diff = transfer-extub
        hrs = diff.total_seconds()/seconds_per_hour
        extub_hrs.append(hrs)
        icustay.append(feat_vent.iloc[i]['ICUSTAY_ID'])     

extub_hrs = pd.DataFrame(extub_hrs)
icustay = pd.DataFrame(icustay)
extub = pd.concat((icustay, extub_hrs), axis=1)
extub.columns = ['ICUSTAY_ID', 'extub_hrs']

feat_vent = pd.merge(feat_vent, extub, how = 'left', on = ['ICUSTAY_ID'])

# Keep only necessary columns.
feat_vent = feat_vent[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'intub_days', 'extub_hrs']]
feat_vent = feat_vent.drop_duplicates(subset=['ICUSTAY_ID'])
print(feat_vent.shape)
feat_vent.head()

(5043, 5)

     SUBJECT_ID  HADM_ID  ICUSTAY_ID  intub_days extub_hrs
0         28494   199133      200059        14.0   3.68611
102        2530   113580      200077        10.0   75.6667
164       61871   124231      200087         4.0   33.6692
181       11228   167826      200102         9.0   7.23889
248       47250   187834      200131         8.0   29.7436

## Final dataset.

In [ ]:
### Get complete dataset.

# Merge all features.
data = pd.merge(features, feat_vent, on = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
print(data.shape)

# Keep only necesary columns.
data = data[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'FIRST_CAREUNIT', 'LAST_CAREUNIT', 
             'INTIME', 'OUTTIME', 'LOS', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME',
             'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 
             'ETHNICITY', 'GENDER','age','age_bin','COPD_hx',
             'wbc','hct','plt','cr','lac','tbili', 'inr',
             'fio2','pao2','pafio2','hr','temp','spo2','map','rass','gcs',
             'intub_days','extub_hrs']]

print(data.shape)
data.head()

(5043, 71)
(5043, 37)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ...   gcs intub_days extub_hrs
0       68591   100016      217590  ...  10.0        5.0   4.63278
1       48539   100035      245719  ...  14.0        8.0   33.8994
2       69282   100063      241782  ...  15.0        1.0   91.0525
3       42255   100087      294404  ...   4.0        4.0   33.3536
4       19984   100132      229201  ...  15.0        7.0   76.8933

[5 rows x 37 columns]

In [ ]:
### Write results to csv file.
# name of csv file 
filename = "mimic_cohort.csv"
    
# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the header
    csvwriter.writerow(data.columns) 
        
    # writing the data rows 
    for i in range(data.shape[0]):
      csvwriter.writerow(data.iloc[i])

# Add outcome variable back in.

In [ ]:
outcome = pd.read_csv('cohort.csv', header = 0)
outcome = outcome[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'outcome']]
mimic_cohort = pd.read_csv('/content/drive/MyDrive/BMI212/mimic_cohort.csv', header = 0)

mimic_cohort = pd.merge(mimic_cohort, outcome, on = ['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])
mimic_cohort.head()

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ... intub_days  extub_hrs outcome
0       68591   100016      217590  ...        5.0   4.632778     0.0
1       48539   100035      245719  ...        8.0  33.899444     0.0
2       69282   100063      241782  ...        1.0  91.052500     0.0
3       42255   100087      294404  ...        4.0  33.353611     0.0
4       19984   100132      229201  ...        7.0  76.893333     0.0

[5 rows x 38 columns]

In [ ]:
### Write results to csv file.
# name of csv file 
filename = "mimic_cohort.csv"
    
# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the header
    csvwriter.writerow(mimic_cohort.columns) 

    # writing the data rows 
    for i in range(mimic_cohort.shape[0]):
      csvwriter.writerow(mimic_cohort.iloc[i])

In [ ]:
mimic_cohort['ADMITTIME']

0       2188-05-24 13:06:00
1       2115-02-22 06:51:00
2       2181-04-20 12:00:00
3       2126-11-01 17:47:00
4       2179-03-05 16:36:00
               ...
5038    2184-01-01 20:23:00
5039    2195-10-08 22:51:00
5040    2183-03-24 03:13:00
5041    2181-05-15 15:26:00
5042    2188-07-07 18:47:00
Name: ADMITTIME, Length: 5043, dtype: object

In [ ]:
### Demographic distribution.

readmit_F = int(len(cohort_readmit_final[cohort_readmit_final['GENDER'] == 'F'])/2)
readmit_M = int(len(cohort_readmit_final[cohort_readmit_final['GENDER'] == 'M'])/2)

print('Readmit: ', '\n', 'Total: ', len(cohort_readmit_final['SUBJECT_ID'].unique()), '\n', 'Female: ', readmit_F, '\n', 
      'Male: ', readmit_M, '\n', '\n')

nonreadmit_F = len(cohort_nonreadmit_final[cohort_nonreadmit_final['GENDER'] == 'F'])
nonreadmit_M = len(cohort_nonreadmit_final[cohort_nonreadmit_final['GENDER'] == 'M'])

print('Non readmit: ', '\n', 'Total: ', len(cohort_nonreadmit_final['SUBJECT_ID'].unique()), '\n', 'Female: ', nonreadmit_F, '\n', 
      'Male: ', nonreadmit_M, '\n', '\n')


readmit_C = int(len(cohort_readmit_final[cohort_readmit_final['ETHNICITY'] == 'WHITE'])/2)
readmit_AA = int(len(cohort_readmit_final[cohort_readmit_final['ETHNICITY'] == 'BLACK/AFRICAN AMERICAN'])/2)
readmit_H = int(len(cohort_readmit_final[cohort_readmit_final['ETHNICITY'].str.contains('HISPANIC')])/2)
readmit_A = int(len(cohort_readmit_final[cohort_readmit_final['ETHNICITY'] == 'ASIAN'])/2)
readmit_U = int(cohort_readmit_final.shape[0]/2 - readmit_C - readmit_AA - readmit_H - readmit_A)

print('Readmit: ', '\n', 'Total: ', cohort_readmit_final['SUBJECT_ID'].nunique(), '\n', 'Caucasian: ', readmit_C, '\n', 
      'African American: ', readmit_AA, '\n', 'Latino/a: ', readmit_H, '\n', 'Asian: ', readmit_A, '\n', 'Unknown: ',
      readmit_U, '\n', '\n')

nonreadmit_C = len(cohort_nonreadmit_final[cohort_nonreadmit_final['ETHNICITY'] == 'WHITE'])
nonreadmit_AA = len(cohort_nonreadmit_final[cohort_nonreadmit_final['ETHNICITY'] == 'BLACK/AFRICAN AMERICAN'])
nonreadmit_H = len(cohort_nonreadmit_final[cohort_nonreadmit_final['ETHNICITY'].str.contains('HISPANIC')])
nonreadmit_A = len(cohort_nonreadmit_final[cohort_nonreadmit_final['ETHNICITY'] == 'ASIAN'])
nonreadmit_U = cohort_nonreadmit_final.shape[0] - nonreadmit_C - nonreadmit_AA - nonreadmit_H - nonreadmit_A

print('Non readmit: ', '\n', 'Total: ', cohort_nonreadmit_final.shape[0], '\n', 'Caucasian: ', nonreadmit_C, '\n', 
      'African American: ', nonreadmit_AA, '\n', 'Latino/a: ', nonreadmit_H, '\n', 'Asian: ', nonreadmit_A, '\n', 
      'Unknown: ',nonreadmit_U, '\n', '\n')

Readmit:
 Total:  42
 Female:  21
 Male:  21


Non readmit:
 Total:  855
 Female:  418
 Male:  437


Readmit:
 Total:  42
 Caucasian:  32
 African American:  4
 Latino/a:  1
 Asian:  0
 Unknown:  5


Non readmit:
 Total:  855
 Caucasian:  592
 African American:  98
 Latino/a:  28
 Asian:  19
 Unknown:  118

# Create matching features of STARR

**STARR: MIMIC**  
"id" = "SUBJECT_ID"  
"readmit" = ?   
"total_los" = "OUTTIME" - "ADMITTIME"    
"icu_los" = "OUTTIME" - "INTIME"  
"intub_days" = "intub_days"  
"age" = age"  
"female" = "GENDER" (convert to 0 or 1)  
"race" = "ETHNICITY" (re-group)   
"ED_admit" = "ADMISSION_TYPE"  
"COPD_hx" = "COPD_hx"  
"hct" = "hct"  
"wbc" = "wbc"  
"inr" = "inr"  
"cr" = "cr"  
"plt" = "plt"  
"sao2" = "spo2" (rename)  
"hr" = "hr"  
"map" = "map"  
"gcs" = "gcs"  
"lactate" = "lac" (rename)  
"rass" = "rass"  
"temp_f" = "temp" (rename)  
"pao2" = "pao2"  
"pafio2" = "pafio2"

In [ ]:
import pandas as pd

mimic_file = "mimic_cohort.csv"
data = pd.read_csv(mimic_file)

In [ ]:
for ethnicity in pd.unique(data["ETHNICITY"]):
  if "ASIAN" in ethnicity:
    print("%s: Asian" % ethnicity)
  elif "BLACK" in ethnicity:
    print("%s: Black" % ethnicity)
  elif "HISPANIC" in ethnicity or "LATINO" in ethnicity or "SOUTH AMERICA" in ethnicity:
    print("%s: Hispanic/Latino" % ethnicity)
  elif "NATIVE" in ethnicity and "AMERICAN" in ethnicity:
    print("%s: Native American" % ethnicity)
  elif "PACIFIC ISLANDER" in ethnicity:
    print("%s: Pacific Islander" % ethnicity)
  elif "UNKNOWN" in ethnicity or "UNABLE" in ethnicity or "DECLINE" in ethnicity:
    print("%s: Unknown" % ethnicity)
  elif "WHITE" in ethnicity or "MIDDLE EAST" in ethnicity or "PORTUGUESE" in ethnicity:
    print("%s: White" % ethnicity)
  else:
    print("%s: Other" % ethnicity)

WHITE: White
HISPANIC OR LATINO: Hispanic/Latino
BLACK/AFRICAN AMERICAN: Black
OTHER: Other
UNKNOWN/NOT SPECIFIED: Unknown
UNABLE TO OBTAIN: Unknown
ASIAN: Asian
WHITE - BRAZILIAN: White
PATIENT DECLINED TO ANSWER: Unknown
BLACK/HAITIAN: Black
ASIAN - CHINESE: Asian
WHITE - RUSSIAN: White
MULTI RACE ETHNICITY: Other
BLACK/CAPE VERDEAN: Black
ASIAN - VIETNAMESE: Asian
BLACK/AFRICAN: Black
WHITE - OTHER EUROPEAN: White
PORTUGUESE: White
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER: Pacific Islander
HISPANIC/LATINO - PUERTO RICAN: Hispanic/Latino
MIDDLE EASTERN: White
ASIAN - ASIAN INDIAN: Asian
HISPANIC/LATINO - DOMINICAN: Hispanic/Latino
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE: Native American
ASIAN - OTHER: Asian
ASIAN - KOREAN: Asian
ASIAN - FILIPINO: Asian
AMERICAN INDIAN/ALASKA NATIVE: Native American
ASIAN - JAPANESE: Asian
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER): Hispanic/Latino
HISPANIC/LATINO - COLOMBIAN: Hispanic/Latino
HISPANIC/LATINO - MEXICAN: Hispanic/Latino
HISPANIC/LATINO - SALVADORAN: Hispanic/Latino
SOUTH AMERICAN: Hispanic/Latino

In [ ]:
print(data.shape)
print(len(pd.unique(data["HADM_ID"])))
print(len(pd.unique(data["SUBJECT_ID"])))
print(len(pd.unique(data["ICUSTAY_ID"])))

(5043, 38)
5043
5043
5043

In [ ]:
# rename some columns to match those from STARR
data.rename(columns={"SUBJECT_ID": "id", "spo2": "sao2", "lac": "lactate", "temp": "temp_f", "outcome": "readmit"}, inplace=True)

# convert descriptive string to numeric string 
data["female"] = (data["GENDER"] == "F") * 1
data["ED_admit"] = (data["ADMISSION_LOCATION"] == "EMERGENCY ROOM ADMIT") * 1

# re-group ETHNICITY column into same race categories
race = []
for ethnicity in data["ETHNICITY"]:
  if "ASIAN" in ethnicity:
    race.append("Asian")
  elif "BLACK" in ethnicity:
    race.append("Black")
  elif "HISPANIC" in ethnicity or "LATINO" in ethnicity or "SOUTH AMERICA" in ethnicity:
    race.append("Hispanic/Latino")
  elif "NATIVE" in ethnicity and "AMERICAN" in ethnicity:
    race.append("Native American")
  elif "PACIFIC ISLANDER" in ethnicity:
    race.append("Pacific Islander")
  elif "UNKNOWN" in ethnicity or "UNABLE" in ethnicity or "DECLINE" in ethnicity:
    race.append("Unknown")
  elif "WHITE" in ethnicity or "MIDDLE EAST" in ethnicity or "PORTUGUESE" in ethnicity:
    race.append("White")
  else:
    race.append("Other")
data["race"] = race

# calculate LOS
def calculate_los_days(data, start_col, end_col):
  los_dt = pd.to_datetime(data[end_col]) - pd.to_datetime(data[start_col])
  los = []
  for dt in los_dt:
    los.append(dt.days)
  
  return los

data["icu_los"] = calculate_los_days(data, "INTIME", "OUTTIME")
data["total_los"] = calculate_los_days(data, "ADMITTIME", "OUTTIME")

In [ ]:
print(data.columns)
data.head()

Index(['id', 'HADM_ID', 'ICUSTAY_ID', 'FIRST_CAREUNIT', 'LAST_CAREUNIT',
       'INTIME', 'OUTTIME', 'LOS', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME',
       'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION',
       'ETHNICITY', 'GENDER', 'age', 'age_bin', 'COPD_hx', 'wbc', 'hct', 'plt',
       'cr', 'lactate', 'tbili', 'inr', 'fio2', 'pao2', 'pafio2', 'hr',
       'temp_f', 'sao2', 'map', 'rass', 'gcs', 'intub_days', 'extub_hrs',
       'readmit', 'female', 'ED_admit', 'race', 'icu_los', 'total_los'],
      dtype='object')

      id  HADM_ID  ICUSTAY_ID  ...             race icu_los total_los
0  68591   100016      217590  ...            White       6         6
1  48539   100035      245719  ...  Hispanic/Latino      10        10
2  69282   100063      241782  ...  Hispanic/Latino       1         2
3  42255   100087      294404  ...            White       3         3
4  19984   100132      229201  ...            Black      18        18

[5 rows x 43 columns]

In [ ]:
cols_keep = ["id", "readmit", "total_los", "icu_los", "intub_days", "age", "female", "race", "ED_admit", "COPD_hx",
             "hct", "wbc", "inr", "cr", "plt", "sao2", "hr", "map", "gcs", "lactate", "rass", "temp_f", "pao2", "pafio2"]
is_subset = set(cols_keep).issubset(set(data.columns))
if not is_subset:
  print(set(cols_keep).difference(set(data.columns)))
else:
  print("all columns present")

all columns present

In [ ]:
data.to_csv("mimic_cohort_converted.csv", index=False)